{# <!-- Pager for displaying page links on multi-page documents --> #}

    {% if totalpages is not null %}
        <div class="xar-pager">
            {# <!-- Display first-page link if there is more than one page and we are not on that page --> #}
            {% if currentpagenum != firstpagenum %}
                &#160;&#160;<a title="{{ xar_translate('First page') }}" href="{{ firsturl }}">{{ xar_translate('First') }}</a>
            {% else %}
                &#160;&#160;<span title="{{ xar_translate('First page') }}">{{ xar_translate('First') }}</span>
            {% endif %}

            {# <!--  Display previous-block link if there is more than one block --> #}
            {% set prevblocklabel = xar_translate('Previous #(1) pages',prevblockpages) %}
            {% if currentblock != firstblock %}
                &#160;&#160;<a title="{{ prevblocklabel }}" href="{{ prevblockurl }}">&lt;&lt;</a>
            {% else %}
                &#160;&#160;<span title="{{ prevblocklabel }}">&lt;&lt;</span>
            {% endif %}

            {# <!-- Display previous-page link if we are not on the first page --> #}
            {% if currentpagenum != firstpagenum %}
                &#160;&#160;<a title="{{ xar_translate('Previous page') }}" href="{{ prevpageurl }}">&lt;</a>
            {% else %}
                &#160;&#160;<span title="{{ xar_translate('Previous page') }}">&lt;</span>
            {% endif %}

            {% for pagenumber, pageurl in middleurls %}
                {% set pageurllabel = xar_translate('Page #(1)',pagenumber) %}
                {% if pagenumber != currentpagenum %}
                    &#160;&#160;<a href="{{ pageurl }}" title="{{ pageurllabel }}">{{ pagenumber }}</a>
                {% else %}
                    &#160;&#160;<span title="{{ pageurllabel }}">{{ pagenumber }}</span>
                {% endif %}
            {% endfor %}

            {# <!-- Display next-page link if we are not on the last page --> #}
            {% if currentpagenum != lastpagenum %}
                &#160;&#160;<a title="{{ xar_translate('Next page') }}" href="{{ nextpageurl }}">&gt;</a>
            {% else %}
                &#160;&#160;<span title="{{ xar_translate('Next page') }}">&gt;</span>
            {% endif %}

            {# <!-- Display next-block link if there is more than one block --> #}
            {% set nextblocklabel = xar_translate('Next #(1) pages',nextblockpages) %}
            {% if currentblock != lastblock %}
                &#160;&#160;<a title="{{ nextblocklabel }}" href="{{ nextblockurl }}">&gt;&gt;</a>
            {% else %}
                &#160;&#160;<span title="{{ nextblocklabel }}">&gt;&gt;</span>
            {% endif %}

            {# <!-- Display last-page link if we are not on it --> #}
            {# <!--
            {% if currentpagenum != lastpagenum %}
                &#160;&#160;<a title="{{ xar_translate('Last page') }}" href="{{ lasturl }}">&gt;|</a>
            {% else %}
                &#160;&#160;<span title="{{ xar_translate('Last page') }}">&gt;|</span>
            {% endif %}
            --> #}
        </div>
    {% else %}
        &#160;
    {% endif %}
