{# @publications/objects/downloads/detail.html.twig #}

{% block detail %}
{# <!-- Load the stylesheet for this publication type --> #}
    {{ xar_style({method: "import", module: "publications", file: "download", title: "Download Stylesheet"}) }}
    
    {{ include('@publications/includes/publinks.html.twig') }}

    {% set fields = object.getFieldValues([],1) %}

    {# <!-- State --> #}
    {% set publication_state = properties['state'].value %}

    {% if publication_state < 3 and not xar_security_check('ManagePublications',0) %}
        This item cannot be viewed
    {% else %}
    
        {# <!-- Title --> #}
        <div class="xar-publications-download-detail-title">
            {{ xar_data_output({property: properties['title'], value: fields['title']}) }}

            {# <!-- Edit icons if allowed --> #}
            {{ include('@publications/includes/editicons.html.twig') }}
    
            {# <!-- Print button --> #}
            {{ include('@publications/includes/print.html.twig') }}
        </div>

        {# <!-- Description --> #}
        <div class="xar-publications-download-detail-title">
            <b>Description</b>
        </div>
        {% if fields['image'] %}
            <div style="width: 400px">
                <div style="float: left;">
                    {% set filepath = properties['image'].initialization_basedirectory ~ '/'. fields['image'] %}
                    <img src="{{ filepath }}" style="margin-right: 25px;" />
                </div>
                <div class="xar-publications-download-detail-text ">
                    {{ xar_data_output({property: properties['summary'], value: fields['summary']}) }}
                </div>
            </div>
        {% else %}
            <div class="xar-publications-download-detail-text">
                {{ xar_data_output({property: properties['summary'], value: fields['summary']}) }}
            </div>
        {% endif %}
            
        {# <!-- Download link(s) --> #}
        {% set filepath = properties['fileupload'].initialization_basedirectory ~ '/'. fields['fileupload'] %}

        {% if not fields['fileupload'] %}
            {# <!-- Nothing to display --> #}

        {% elseif xar_modishooked('uploads','publications', fields['itemtype']) and fields['fileupload']|slice(0,1) == ';' %}
            {# <!-- Hook output --> #}
            {#
                If you hook the uploads module to publications, then file upload fields will contain
                a comma-separated list of file ids, and you will need to call an API function to
                retrieve the file information. For dynamic extra fields, you can use [fieldname]_output
                directly to access the file information.
            #}
            {% set fileupload_output = xar_apifunc('uploads','user','showoutput',{'value': fields['fileupload'], 'multiple': true}) %}
            {% for fileid, fileinfo in fileupload_output %}
                <p>
                    <a href="{{ fileinfo['fileDownload'] }}">
                        {{ fileinfo['fileName'] }}
                    </a>
                </p>
            {% endfor %}
        {% elseif file_exists(filepath) %}
            {# <!-- Simple download link --> #}
            {% set filesize = number_format(filesize(filepath)/1000,1) %}
            <div class="xar-publications-download-detail-text ">
                <a href="{{ filepath }}" title="{{ fields['title'] }}">
                    Download this file:&#160;
                    {{ xar_data_output({property: properties['fileupload'], value: fields['fileupload']}) }}&#160;
                    ({{ filesize }}kB)
                </a>
            </div>
        {% else %}
            {# <!-- Link exists, but we don't have a file, so display the file name --> #}
            <div class="xar-publications-download-detail-text ">
                {{ xar_data_output({property: properties['fileupload'], value: fields['fileupload']}) }}
            </div>
        {% endif %}

        {# <!-- Previous and next links --> #}
        <div class="xar-normal xar-align-right xar-padding-thick">
            {% set prevpublication = xar_varcache('Publications', 'prevpublication') %}
            {% if prevpublication %}
                {% set prev = 'Previous' %}
                <a href="{{ xar_moduleurl('publications', 'user', 'display', {'itemid': prevpublication['id']}) }}" title="{{ prev }}">
                    {{- xar_image({scope: "theme", file: "icons/go-previous.png", class: "xar-icon", alt: prev}) -}}
                </a>
            {% endif %}
            &#160;
            {% set nextpublication = xar_varcache('Publications', 'nextpublication') %}
            {% if nextpublication %}
                {% set next = 'Next' %}
                <a href="{{ xar_moduleurl('publications', 'user', 'display', {'itemid': nextpublication['id']}) }}" title="{{ next }}">
                    {{- xar_image({scope: "theme", file: "icons/go-next.png", class: "xar-icon", alt: next}) -}}
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}