{# @privileges/admin/new.html.twig #}

{% block new %}
{{ xar_javascript({scope: "module", module: "privileges", filename: "xarTree.js"}) }}
    <script type="javascript">
    {# <!--
        var oldOnLoadFunction = (window.onload) ? window.onload : new Function("","return true;");
        function doOnLoad() {
             oldOnLoadFunction();
             xarTree_init();
        }
        var oldOnUnloadFunction = (window.onunload) ? window.onunload : new Function("","return true;");
        function doOnUnload() {
             oldOnUnloadFunction();
             xarTree_init();
        }

        window.onload = doOnLoad;
        window.onunload = doOnUnload;

        function setaction(target){
        document.forms['privilegeform'].action = target;
        document.forms['privilegeform'].submit();}
    // --> #}
    </script>
    {{ include('@privileges/includes/admin-mod-head.html.twig') }}
    <div class="xar-mod-body">
        <form id="privilegeform" action="{{ xar_moduleurl('privileges','admin','addprivilege') }}" method="post" enctype="application/x-www-form-urlencoded">
            <fieldset>
                <legend>                    
                    Add Privilege                    
                </legend>
                <div class="xar-row">
                    <div class="xar-col">
                        {% set label = 'Name of the privilege' %}
                        <label for="pname" title="{{ label }}" class="xar-form-label">                        
                            Name:                        
                        </label>
                    </div>
                    <div class="xar-col">
                        <input type="text" name="pname" id="pname" value="{{ pname }}" maxlength="40" class="xar-form-textlong"/>
                    </div>
                </div>
                {% if ptype == null %}
                    <div class="xar-row">
                        <div class="xar-col">
                            {% set label = 'This privilege will have no children' %}
                            <label for="ptype_empty" title="{{ label }}">                            
                                empty                            
                            </label>
                        </div>
                        <div class="xar-col">
                            <input type="radio" name="ptype" id="ptype_empty" value="empty" checked="checked" onclick="this.form.action='{{ xar_moduleurl('privileges','admin','new') }}';this.form.submit();"/>
                        </div>
                    </div>
                    <div class="xar-row">
                        <div class="xar-col">
                            {% set label = 'This privilege will have children' %}
                            <label for="ptype_full" title="{{ label }}">                            
                                with rights                            
                            </label>
                        </div>
                        <div class="xar-col">
                            <input type="radio" name="ptype" id="ptype_full" value="full" onclick="this.form.action='{{ xar_moduleurl('privileges','admin','new') }}';this.form.submit();"/>
                        </div>
                    </div>
                {% else %}
                    <div class="xar-row">
                        <div class="xar-col">
                            {% set label = 'This privilege will have no children' %}
                            <label for="ptype_empty" title="{{ label }}">                            
                                empty                            
                            </label>
                        </div>
                        <div class="xar-col">
                            <input type="radio" name="ptype" id="ptype_empty" value="empty" onclick="this.form.action='{{ xar_moduleurl('privileges','admin','new') }}';this.form.submit();"/>
                        </div>
                    </div>
                    <div class="xar-row">
                        <div class="xar-col">
                            {% set label = 'This privilege will have children' %}
                            <label for="ptype_full" title="{{ label }}">                            
                                with rights                            
                            </label>
                        </div>
                        <div class="xar-col">
                            <input type="radio" name="ptype" id="ptype_full" value="full" checked="checked" onclick="this.form.action='{{ xar_moduleurl('privileges','admin','new') }}';this.form.submit();"/>
                        </div>
                    </div>
                    <div class="xar-row">
                        <div class="xar-col">
                            {% set label = 'Parent privilege of this' %}
                            <label for="pparentid" title="{{ label }}" class="xar-form-label">                            
                                Member Of:                            
                            </label>
                        </div>
                        <div class="xar-col">
                            {{ xar_data_input({type: "dropdown", name: "pparentid", options: privileges, value: pparentid}) }}
                        </div>
                    </div>
                    {% if xar_modulevar('privileges', 'showrealms') %}
                        <div class="xar-row">
                            <div class="xar-col">
                                {% set label = 'Realm in which this privilege applies' %}
                                <label for="prealm" title="{{ label }}" class="xar-form-label">                                
                                    Realm:                                
                                </label>
                            </div>
                            <div class="xar-col">
                                {{ xar_data_input({type: "dropdown", name: "prealm", options: realms, value: prealm}) }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="xar-row">
                        <div class="xar-col">
                            {% set label = 'Module to which this privilege will apply' %}
                            <label for="pmodule" title="{{ label }}" class="xar-form-label">                            
                                Module:                            
                            </label>
                        </div>
                        <div class="xar-col">
                            {% set onchange = "javascript:this.form.action = '" ~ xar_moduleurl('privileges','admin','new') ~ "';this.form.submit();" %}
                            {{ xar_data_input({type: "module", name: "pmodule", value: pmodule, firstline: "All,All", onchange: onchange, store_prop: "name"}) }}
                        </div>
                    </div>
                    <div class="xar-row">
                        <div class="xar-col">
                            {% set label = 'Component to which this privilege applies' %}
                            <label for="pcomponent" title="{{ label }}" class="xar-form-label">                            
                                Component:                            
                            </label>
                        </div>
                        <div class="xar-col">
                            <select name="pcomponent" id="pcomponent" onchange="this.form.action = '{{ xar_moduleurl('privileges','admin','new') }}';this.form.submit();">
                                {% for loop_key1, loop_item1 in components %}{% set loop_index1 = loop.index %}
                                    {% if loop_item1['name'] == pcomponent %}
                                        <option value="{{ loop_item1['name'] }}" selected="selected">
                                            {{ loop_item1['name'] }}
                                        </option>
                                        {% else %}
                                        <option value="{{ loop_item1['name'] }}">
                                            {{ loop_item1['name'] }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="xar-row">
                        <div class="xar-col">
                            {% set label = 'Security level required by this privilege' %}
                            <label for="plevel" title="{{ label }}" class="xar-form-label">                            
                                Level:                            
                            </label>
                        </div>
                        <div class="xar-col">
                            {{ xar_data_input({type: "dropdown", name: "plevel", value: plevel, options: levels}) }}
                        </div>
                    </div>
                {% endif %}
                {% if ptype != null %}
                    {% if (pcomponent != 'All') and not target %}
                        <p>
                          Allow instances of component {{ pcomponent }} that have:                                
                        </p>
                        {% for loop_key2, loop_item2 in instances %}{% set loop_index2 = loop.index %}
                            <div class="xar-row">
                                <div class="xar-col">
                                    <label for="pinstance{{ loop_index2 }}" class="xar-form-label">
                                        {{ loop_item2['header'] }}
                                    </label>
                            </div>
                            <div class="xar-col">
                                    {% if loop_item2['type'] == 'manual' %}
                                        <input type="text" name="pinstance[]" id="pinstance{{ loop_index2 }}" value="All" class="xar-form-textmedium"/>
                                        &#160;                                    
                                        This field must contain a value                                    
                                    {% else %}
                                        <select name="pinstance[]">
                                            {% for loop_key3, loop_item3 in loop_item2['dropdown'] %}{% set loop_index3 = loop.index %}
                                                <option value="{{ loop_item3['name'] }}">
                                                    {{ loop_item3['name'] }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        {% elseif target %}
                        <p>
                            {% set label = 'Use Wizard' %}
                            <a href="{{ target }}" title="{{ label }}">                                
                                Specify the instances that apply for this privilege                                
                            </a>
                        </p>
                    {% endif %}
                {% endif %}
            </fieldset>
            <div class="xar-form-actions">
                <div class="xar-row">
                    <div class="xar-col"></div>
                    <div class="xar-col">
                        <input type="hidden" name="authid" id="authid" value="{{ authid }}"/>
                        <input type="hidden" name="id" id="id" value="{{ id }}"/>
                        {% set label = 'Add' %}
                        {{- xar_button({type: "submit", label: label, tabindex: "8"}) -}}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}