{# @base/properties/showinput-checkboxlist.html.twig #}

{% block showinput_checkboxlist %}
<div class="xar-form-container">
        {% if not layout or layout == 'default' or layout == 'horizontal' %}
            {% if options|length > 0 %}
                {% for key, option in options %}
                    <div style="float: left;margin-right: 2em;">
                        {% if key == 0 %}
                            {% set theID = id %}
                        {% else %}
                            {% set theID = id ~ '_' ~ key %}
                        {% endif %}

                        {% if default_value is not null %}
                            {% if default_value == 1 %}
                                <input type="checkbox" name="{{ name }}[]" id="{{ theID }}" value="{{ option['id'] }}" checked="checked"/>
                            {% else %}
                                <input type="checkbox" name="{{ name }}[]" id="{{ theID }}" value="{{ option['id'] }}"/>
                            {% endif %}
                        {% else %}
                            {% if option['id'] in value %}
                                <input type="checkbox" name="{{ name }}[]" id="{{ theID }}" value="{{ option['id'] }}" checked="checked"/>
                            {% else %}
                                <input type="checkbox" name="{{ name }}[]" id="{{ theID }}" value="{{ option['id'] }}"/>
                            {% endif %}
                        {% endif %}

                        <label for="{{ theID }}" style="margin-left: 5px">{{ option['name'] }}</label>
                    </div>
                {% endfor %}
            {% endif %}
        {% elseif layout == 'vertical' %}
            {% if options|length > 0 %}
                {% for key, option in options %}
                    <div>
                        {% if key == 0 %}
                            {% set theID = id %}
                        {% else %}
                            {% set theID = id ~ '_' ~ key %}
                        {% endif %}

                        {% if default_value is not null %}
                            {% if default_value == 1 %}
                                <input type="checkbox" name="{{ name }}[]" id="{{ theID }}" value="{{ option['id'] }}" checked="checked"/>
                            {% else %}
                                <input type="checkbox" name="{{ name }}[]" id="{{ theID }}" value="{{ option['id'] }}"/>
                            {% endif %}
                        {% else %}
                            {% if option['id'] in value %}
                                <input type="checkbox" name="{{ name }}[]" id="{{ theID }}" value="{{ option['id'] }}" checked="checked"/>
                            {% else %}
                                <input type="checkbox" name="{{ name }}[]" id="{{ theID }}" value="{{ option['id'] }}"/>
                            {% endif %}
                        {% endif %}
                        &#160;
                        <label for="{{ theID }}">{{ option['name'] }}</label>
                    </div>
                {% endfor %}
            {% endif %}
        {% elseif layout == 'columns' or layout == 'column' %}
            {% set opt_count = options|length %}
            {% if opt_count > 0 %}
                {% set col_count = (opt_count / rows_cols)|round %}
                {% set long_cols = opt_count % rows_cols %}
                {% if long_cols > 0 %}
                    {% set col_count = col_count + 1 %}
                {% endif %}
                {% set col_options = [] %}
                {% for i in range(1, rows_cols) %}
                    {% set slice = options|slice((i - 1) * col_count, col_count, true) %}
                    {% set col_options = col_options + slice %}
                {% endfor %}
                {% set col_width = (100 / rows_cols)|round - 1 %}
                {% for c, col_opts in col_options %}
                    <div style="width: {{ col_width }}%;float: left;">
                        {% for o, option in col_opts %}
                            <div>
                                {% if o == 0 %}
                                    {% set theID = id %}
                                {% else %}
                                    {% set theID = id ~ '_' ~ o %}
                                {% endif %}
                                {% if default_value is not null %}
                                    {% if default_value == 1 %}
                                        <input type="checkbox" name="{{ name }}[]" id="{{ theID }}" value="{{ option['id'] }}" checked="checked"/>
                                    {% else %}
                                        <input type="checkbox" name="{{ name }}[]" id="{{ theID }}" value="{{ option['id'] }}"/>
                                    {% endif %}
                                {% else %}
                                    {% if option['id'] in value %}
                                        <input type="checkbox" name="{{ name }}[]" id="{{ theID }}" value="{{ option['id'] }}" checked="checked"/>
                                    {% else %}
                                        <input type="checkbox" name="{{ name }}[]" id="{{ theID }}" value="{{ option['id'] }}"/>
                                    {% endif %}
                                {% endif %}
                                &#160;
                                <label for="{{ theID }}">{{ option['name'] }}</label>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
        <p>
          Specify your own layout '{{ layout }}' here...
        </p>
        <p>
          You can also specify a separate template, e.g. if you want to handle individual fields differently for a particular module / itemtype
        </p>
        {% endif %}

        {{ include('@base/includes/dataproperty_additions.html.twig') }}
        <br class="xar-clearall"/>
    </div>
{% endblock %}