{# @base/properties/validation-textupload.html.twig #}

{% block validation_textupload %}
<table class="xar-table xar-norm">
        {% if not ishooked %}
            <tr>
                <td colspan="2">
                    <strong>Note: the uploads module is not hooked</strong>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>Methods</td>
                <td>
                    {% for method, checked in methods %}
                        <label for="{{ id }}_methods_{{ method }}">{{ method }}</label>
                        {% if checked %}
                            <input type="checkbox" name="{{ name }}[methods][{{ method }}]" id="{{ id }}_methods_{{ method }}" value="1" tabindex="{{ tabindex }}" checked="checked"/>
                        {% else %}
                            <input type="checkbox" name="{{ name }}[methods][{{ method }}]" id="{{ id }}_methods_{{ method }}" value="1" tabindex="{{ tabindex }}"/>
                        {% endif %}
                        <br />
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ id }}_basedir">Upload Directory</label>
                </td>
                <td>
                    <input type="text" name="{{ name }}[basedir]" id="{{ id }}_basedir" value="{{ basedir }}" size="{{ size }}" tabindex="{{ tabindex }}"/>
                    <br />Note : {user} will be replaced by the current user uploading the file - e.g.
                    var/uploads/{user} -&gt; var/uploads/myusername_123
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ id }}_importdir">Trusted Directory</label>
                </td>
                <td>
                    <input type="text" name="{{ name }}[importdir]" id="{{ id }}_importdir" value="{{ importdir }}" size="{{ size }}" tabindex="{{ tabindex }}"/>
                    <br />Note : {user} will be replaced by the current user importing the file - e.g.
                    var/imports/{user} -&gt; var/imports/myusername_123
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <strong>Note: the uploads module is hooked</strong>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td>Other rule</td>
            <td>
                <input type="text" name="{{ name }}[other]" id="{{ id }}_other" value="{{ other }}" size="{{ size }}" tabindex="{{ tabindex }}"/>
            </td>
        </tr>
    </table>
    {{ include('@base/includes/dataproperty_additions.html.twig') }}
{% endblock %}