{# @publications/blocks/modify-menu.html.twig #}

{% block modify_menu %}
<div>
        <div class="xar-form-input-wrapper">
            <label for="multi_homed_{{ bid }}" title="{{ xar_translate('Hide the root page') }}" class="xar-form-label">            
                Hide the root page:            
            </label>
            {% set id = 'multi_homed_' ~ bid %}
            {{ xar_data_input({type: "checkbox", name: "multi_homed", id: id, checked: multi_homed}) }}
        </div>
        <div class="xar-form-input-wrapper">
            <label for="current_source_{{ bid }}" title="{{ xar_translate('The source of the current page displayed') }}" class="xar-form-label">            
                Source of the current page:            
            </label>
            {% set options = [
                    {'id': 'AUTO', 'name': xar_translate('Automatic - set by the current module')},
                    {'id': 'AUTODEFAULT', 'name': xar_translate('Automatic - use default outside roots')},
                    {'id': 'DEFAULT', 'name': xar_translate('Default - force use of the default page')},
                ] %}
            {% set id = 'current_source_' ~ bid %}
            {{ xar_data_input({type: "dropdown", name: "current_source", id: id, value: current_source, options: options}) }}
        </div>
        <div class="xar-form-input-wrapper">
            <label for="default_id_{{ bid }}" title="{{ xar_translate('The default page to be displayed') }}" class="xar-form-label">            
                Default page:            
            </label>
            <select name="default_id" id="default_id_{{ bid }}">
                {% if default_id == 0 %}
                    <option value="-1" selected="selected">-- None --</option>
                {% else %}
                    <option value="-1">-- None --</option>
                {% endif %}
                {% for loop_key1, loop_item1 in all_pages.pages %}{% set loop_index1 = loop.index %}
                    {% if loop_item1.id == default_id %}
                        <option value="{{ loop_item1.id }}" selected="selected">{{ loop_item1.slash_separated }}</option>
                    {% else %}
                        <option value="{{ loop_item1.id }}">{{ loop_item1.slash_separated }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <fieldset>
            <legend>Root Pages</legend>
            <p>

                    If root pages are set, then the menus will be limited to those trees alone.
                    If the current page is not under one of these roots, the block will be hidden.

            </p>
        <div class="xar-form-input-wrapper">
            <label for="new_root_id_{{ bid }}" title="{{ xar_translate('Add Root Page') }}" class="xar-form-label">            
                Add Root Page:
            </label>
            <select name="new_root_id" id="new_root_id_{{ bid }}">
                <option value="0" selected="selected">-- None --</option>
                {% for loop_key1, loop_item1 in all_pages.pages %}{% set loop_index1 = loop.index %}
                    <option value="{{ loop_item1.id }}">{{ loop_item1.slash_separated }}</option>
                {% endfor %}
            </select>
        </div>

        {# <!-- Existing root ids to removed --> #}
        <div class="xar-form-input-wrapper">
            <label for="remove_root_id_{{ bid }}" title="{{ xar_translate('Remove root pages') }}" class="xar-form-label">            
                {% for loop_key1, loop_item1 in root_ids %}{% set loop_index1 = loop.index %}
                    {% if not loop_key1 %}
                        <xar:continue/>
                    {% else %}
                    <div>
                        <input name="remove_root_id[]" type="checkbox" value="{{ loop_key1 }}" id="remove_root_id_{{ bid }}_{{ loop_key1 }}"/>
                        &#160;
                        <label for="remove_root_id_{{ bid }}_{{ loop_key1 }}">
                            {{ xar_translate('Remove #(1)', xar_prep_display(loop_item1)) }}
                        </label>
                    </div>
                    {% endif %}
                {% endfor %}
            </label>
        </div>
        </fieldset>

        <div class="xar-form-input-wrapper">
            <label for="max_level_{{ bid }}" title="{{ xar_translate('Maximum levels displayed') }}" class="xar-form-label">            
                Maximum levels displayed:            
            </label>
            {% if not max_level %}
                <input type="text" name="max_level" id="max_level_{{ bid }}" size="10" maxlength="3" value=""/>
            {% else %}
                <input type="text" name="max_level" id="max_level_{{ bid }}" size="10" maxlength="3" value="{{ max_level }}"/>
            {% endif %}
        </div>
        <div class="xar-form-input-wrapper">
            <label for="start_level_{{ bid }}" title="{{ xar_translate('Hide menu below this level') }}" class="xar-form-label">            
                Hide menu below this level:            
            </label>
            {% if not start_level %}
                <input type="text" name="start_level" id="start_level_{{ bid }}" size="10" maxlength="3" value=""/>
            {% else %}
                <input type="text" name="start_level" id="start_level_{{ bid }}" size="10" maxlength="3" value="{{ start_level }}"/>
            {% endif %}
        </div>

        <fieldset>
            <legend>Pruning Pages</legend>
            <p>

                    If pruning pages are set, then the menus will be pruned at those pages.
                    Any [child] pages above the pruning points will be chopped off the menu.

            </p>
        <div class="xar-form-input-wrapper">
            <label for="new_prune_id_{{ bid }}" title="{{ xar_translate('Add Pruning Page') }}" class="xar-form-label">            
                Add Pruning Page:
            </label>
            <select name="new_prune_id" id="new_prune_id_{{ bid }}">
                <option value="0" selected="selected">-- None --</option>
                {% for loop_key1, loop_item1 in all_pages.pages %}{% set loop_index1 = loop.index %}
                    <option value="{{ loop_item1.id }}">{{ loop_item1.slash_separated }}</option>
                {% endfor %}
            </select>
        </div>

            {# <!-- Existing pruning ids to removed --> #}
        <div class="xar-form-input-wrapper">
            <label for="remove_prune_id_{{ bid }}" title="{{ xar_translate('Remove pruning pages') }}" class="xar-form-label">            
                {% for loop_key1, loop_item1 in prune_ids %}{% set loop_index1 = loop.index %}
                    {% if not loop_key1 %}
                        <xar:continue/>
                    {% else %}
                    <div>
                        <input name="remove_prune_id[]" type="checkbox" value="{{ loop_key1 }}" id="remove_prune_id_{{ bid }}_{{ loop_key1 }}"/>
                        &#160;
                        <label for="remove_prunt_id_{{ bid }}_{{ loop_key1 }}">
                            {{ xar_translate('Remove #(1)', xar_prep_display(loop_item1)) }}
                        </label>
                    </div>
                    {% endif %}
                {% endfor %}
            </label>
        </div>
        </fieldset>
    </div>
{% endblock %}