{# @publications/blocks/modify-related.html.twig #}

{% block modify_related %}
<div class="xar-form-input-wrapper">
        <label class="help xar-form-label" title="{{ xar_translate('Enter the number of items that you wish to display.') }}" for="numitems_{{ bid }}"> 
            Number of items
        </label><input type="text" name="numitems" id="numitems_{{ bid }}" value="{{ numitems }}" size="5" maxlength="5" /> 
    </div>
    <div class="xar-form-input-wrapper-after">
        {% set thisid = 'showvalue'.bid %}
        {{ xar_data_input({type: "checkbox", name: "showvalue", id: thisid, checked: showvalue}) }}
        <label class="help" title="{{ xar_translate('Check this box to show the number of publications.') }}" for="showvalue{{ bid }}"> 
            Show number of publications 
        </label> 
    </div>
    <div class="xar-form-input-wrapper-after">
        {% set thisid = 'showpubtype'.bid %}
        {{ xar_data_input({type: "checkbox", name: "showpubtype", id: thisid, checked: showpubtype}) }}
        <label class="help" title="{{ xar_translate('Check this box to show other publications of the same type.') }}" for="showpubtype{{ bid }}"> 
            Show related by publication type 
        </label> 
    </div>
    <div class="xar-form-input-wrapper-after">
        {% set thisid = 'showcategory'.bid %}
        {{ xar_data_input({type: "checkbox", name: "showcategory", id: thisid, checked: showcategory}) }}
        <label class="help" title="{{ xar_translate('Check this box to show other publications of the same category.') }}" for="showcategory{{ bid }}"> 
            Show related by category
        </label> 
    </div>
    <div class="xar-form-input-wrapper-after">
        {% set thisid = 'showauthor'.bid %}
        {{ xar_data_input({type: "checkbox", name: "showauthor", id: thisid, checked: showauthor}) }}
        <label class="help" title="{{ xar_translate('Check this box to other publications by the same author.') }}" for="showauthor{{ bid }}"> 
            Show related by author
        </label> 
    </div>
{% endblock %}