{# @categories/admin/clone.html.twig #}

{% block clone %}
{{ include('@categories/includes/admin-mod-head.html.twig') }}
    <div class="xar-mod-body">
        <h2>
            Clone Category
        </h2>
        <form action="{{ xar_moduleurl('categories','admin','clone') }}" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="authid" id="authid" value="{{ xar_security_authkey() }}"/>
            <fieldset class="xar-norm">
                Do you want to create a copy of the category "{{ object.properties.name.value }}"?<br/>
                This action wil make a copy of the chosen category, and all its subcategories.<br/> 
                The categories will be placed at the top of the category tree.
                <div>
                    {% set label = 'Clone' %}
                    Name for the new top level category:&#160;<input type="textbox" name="newname" value="{{ object.properties.name.value }}_copy" style="width: 300px"/>
                </div>
            </fieldset>
            <fieldset class="xar-norm">
                <div class="xar-row">
                    <div class="xar-col">
                    </div>
                    <div class="xar-col">
                        <input type="hidden" name="itemid" id="itemid" value="{{ itemid }}"/>
                        <input type="hidden" name="return_url" id="return_url" value="{{ return_url }}"/>
                        {% set label = 'Cancel' %}
                        {{- xar_button({type: "cancel", label: label}) -}}
                        {% set label = 'Clone' %}
                        {{- xar_button({type: "submit", label: label}) -}}
                        <input type="hidden" name="confirm" id="confirm" value="1"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}