{# @categories/admin/modifyconfig.html.twig #}

{% block modifyconfig %}
{{ include('@categories/includes/admin-mod-head.html.twig') }}
    <div class="xar-mod-body">
        <h2>
            Modify Categories Configuration
        </h2>
        {% set xmldata = 'modifyconfig' %}
        {{ include('@base/includes/admin-menu-skel.html.twig') }}

        {% if tab == 'general' %}
            <form method="post" action="{{ xar_moduleurl('categories','admin','modifyconfig') }}" enctype="application/x-www-form-urlencoded">
                <fieldset>
                    <legend>General options</legend>
                    {{ xar_data_form({object: module_settings}) }}
                </fieldset>
                <fieldset>
                    <legend>
                        Defaults
                    </legend>
                    {{ include('@categories/includes/defaults.html.twig') }}
                </fieldset>
                <input type="hidden" name="tab" id="tab" value="{{ tab }}"/>
                <input type="hidden" name="tabmodule" id="tabmodule" value="{{ tabmodule }}"/>
                {{ include('@base/includes/update-button.html.twig') }}
            </form>
        {% elseif tab == 'managehooks' %}
            <fieldset>
                <legend>
                    Configure Categories Hooks
                </legend>
                {% set url = xar_moduleurl('categories','admin','modifyconfig',{'tab': 'managehooks'}) %}
                {{ xar_guifunc("modules", "admin", "hooks", {main: "false", curhook: "categories", return_url: url}) }}
            </fieldset>
        {% endif %}
    </div>
{% endblock %}