{# @categories/admin/view.html.twig #}

{% block view %}
{{ include('@categories/includes/admin-mod-head.html.twig') }}
    <div class="xar-mod-body">
        <h2>View Categories</h2>
        <div style="margin: auto;">
            {% set title = 'New Category' %}
            <div style="text-align: right">
                {% if xar_modulevar('categories', 'use_module_icons') %}
                    <a href="{{ xar_moduleurl('categories','admin','new') }}" title="{{ title }}">
                        <img src="{{ xar_imageurl('icons/' ~ 'document-new.png', 'base') }}" width="16" height="16" alt="{{ title }}"/>
                    </a>
                {% else %}
                    <a href="{{ xar_moduleurl('categories','admin','new') }}" title="{{ title }}">
                        New Category
                    </a>
                {% endif %}
            </div>
            {{ xar_data_input({type: "categorymenu", contextmodule: "base"}) }}
            <div style="clear: both">
                {% if not options %}
                    <div align="center">
                        <h3>No base category chosen</h3><br />
                    </div>
                {% else %}
                    {{ xar_data_input({type: "categorytree", options: options, startnum: startnum, items_per_page: items_per_page}) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}