<tr>
        {% set paramarray = {'op': 'column'} %}
        {% if letter %}
            {% set paramarray = paramarray|merge({'letter': letter}) %}
        {% endif %}
        {{ include(['@' ~ module ~ '/includes/listing_headerprefix.html.twig', '@properties/listing/includes/listing_headerprefix.html.twig']) }}
        {% for field in fieldnames|keys %}
            {% set column = fieldnames[field] %}
            {% set formfieldstate = formfieldstates[field] %}
            {% set paramarray = paramarray|merge({'order': column}) %}
            {% if (column == primaryalias) and not show_primary %}
                {# <xar:continue /> #}
            {% else %}
            {% if formfieldstate != 'hidden' %}
                <th>
                    {# <!-- Output field --> #}
                    {% set url = xar_currenturl(paramarray) %}
                    <a href="{{ url }}" class="refresh_listing" alt="Click to order by this field" title="Order by {{ column }}">
                        {{ fieldlabels.column }}
                    </a>
                    {% set subdata = params|merge({'column': column}) %}
                    {{ include(['@' ~ module ~ '/includes/sortarrows.html.twig', '@properties/listing/includes/listing_headerprefix.html.twig'], subdata) }}
                </th>
            {% endif %}
            {% endif %}
        {% endfor %}
        {{ include(['@' ~ module ~ '/includes/listing_headersuffix.html.twig', '@properties/listing/includes/listing_headerprefix.html.twig']) }}
    </tr>
