{# @xarcachemanager/admin/objects.html.twig #}

{% block objects %}
{#   License: GPL http://www.gnu.org/copyleft/gpl.html  #}
<div class="xar-mod-head"><span class="xar-mod-title">{{ xar_translate('xarCacheManager Administration') }}</span></div>
<div class="xar-mod-body">
    {{ include('@xarcachemanager/includes/admin-menu.html.twig') }}
    <h2>{{ xar_translate('Configure Object Output Caching') }}</h2>

    {% if not objects or objects|length < 1 %}
      {{ xar_translate('Object caching is currently disabled') }}
    {% else %}
      {{ xar_javascript({module: "base", filename: "checkall.js"}) }}
      <form action="&xar-modurl-xarcachemanager-admin-objects;" name="objectcache_form" id="objectcache_form" method="post">
        <fieldset>
        <legend>
            Object Caching Options
        </legend>
        <table border="1" cellpadding="4" cellspacing="0">
          <tr>
            <th class="xar-align-center"><label title="Do you want to enable caching for this object method ?">Enable<br/>Caching</label></th>
            <th class="xar-align-center">{{ xar_translate('Object') }}</th>
            <th class="xar-align-center">{{ xar_translate('Method') }}</th>
            <th class="xar-align-center"><label title="Is the output of this object method identical for all users, or for all members of the same group ?">User Sharing</label></th>
            <th class="xar-align-center"><label title="Do you want to override the default expiration time for this object method ?">Expiration Time<br />(hh:mm:ss)</label></th>
          </tr>
        {# <!-- use the object name as key for easy lookup in xarObjectCache --> #}
        {% for object in objects %}
          {# <!-- show the cache configuration for each object method --> #}
          {% for method, settings in object.cachesettings %}
          <tr>
            <td class="xar-align-center">
              {# <!-- flip from nocache in settings to docache in template --> #}
              {% if not settings['nocache'] %}
                <input type="checkbox" name="docache[{{ object['name'] }}][{{ method }}]" id="docache_{{ object['name'] }}_{{ method }}" value="1" checked="checked"/>
              {% else %}
                <input type="checkbox" name="docache[{{ object['name'] }}][{{ method }}]" id="docache_{{ object['name'] }}_{{ method }}" value="1"/>
              {% endif %}
            </td>
            <td>
              <a href="&xar-modurl-dynamicdata-admin-modifyprop;&amp;itemid={{ object['objectid'] }}" title="{{ object['name'] }} object ({{ xar_coremethod('xarMod', 'getName', [object['moduleid']]) }}.{{ object['itemtype'] }})">{{ object['label'] }}</a>
            </td>
            <td>
              {{ method }}
            </td>
            <td class="xar-align-center">
              <select name="usershared[{{ object['name'] }}][{{ method }}]" id="usershared_{{ object['name'] }}_{{ method }}" size="1">
                <option value="0"> {{ xar_translate('No Sharing') }}</option>
                {% if settings['usershared'] == 1 %}
                  <option value="1" selected="selected">
                    {{ xar_translate('Group Members') }}</option>
                {% else %}
                  <option value="1">
                    {{ xar_translate('Group Members') }}</option>
                {% endif %}
                {% if settings['usershared'] == 2 %}
                  <option value="2" selected="selected">
                    {{ xar_translate('All Users') }}</option>
                {% else %}
                  <option value="2">
                    {{ xar_translate('All Users') }}</option>
                {% endif %}
              </select>
            </td>
            <td class="xar-align-center">
              <input type="text" name="cacheexpire[{{ object['name'] }}][{{ method }}]" id="cacheexpire_{{ object['name'] }}_{{ method }}" value="{{ settings['cacheexpire'] }}" size="9" maxlength="9" />
            </td>
          </tr>
          {% endfor %}
        {% endfor %}
        <tr>
          <td class="xar-align-center">
            <a href="javascript:xar_base_checkall(document.forms['objectcache_form'],true)">{{ xar_translate('Check All') }}</a><br/>
            <a href="javascript:xar_base_checkall(document.forms['objectcache_form'],false)">{{ xar_translate('Clear All') }}</a>
          </td>
          <td>
            <input type="hidden" name="authid" value="{{ authid }}" />
            <input type="submit" name="submit" value="{{ xar_translate('Submit') }}" />
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        </table>
        </fieldset>
      </form>
    {% endif %}

</div>
{% endblock %}