{# @xarcachemanager/admin/variables.html.twig #}

{% block variables %}
{#   License: GPL http://www.gnu.org/copyleft/gpl.html  #}
<div class="xar-mod-head"><span class="xar-mod-title">{{ xar_translate('xarCacheManager Administration') }}</span></div>
<div class="xar-mod-body">
    {{ include('@xarcachemanager/includes/admin-menu.html.twig') }}
    <h2>{{ xar_translate('Configure Variable Caching') }}</h2>

    {% if not variables or variables|length < 1 %}
        {{ xar_translate('Variable caching is currently disabled') }}
    {% else %}
        {{ xar_javascript({module: "base", filename: "checkall.js"}) }}
        <form action="{{ xar_moduleurl('xarcachemanager','admin','variables') }}" name="variablecache_form" id="variablecache_form" method="post">
        <fieldset>
            <legend>
            {{ xar_translate('Variable Caching Options') }}
        </legend>
        <table border="1" cellpadding="4" cellspacing="0">
        <tr>
          <th class="xar-align-center"><label title="Do you want to enable caching for this variable ?">Enable<br/>Caching</label></th>
          <th class="xar-align-center">{{ xar_translate('Name') }}</th>
          <th class="xar-align-center"><label title="Do you want to override the default expiration time ?">Expiration Time<br />(hh:mm:ss)</label></th>
        </tr>
        {% for variable in variables %}
        <tr>
          {# <!-- flip from nocache in settings to docache in template --> #}
          <td  class="xar-align-center">{% if not variable['nocache'] %}
                <input type="checkbox" name="docache[{{ variable['name'] }}]" id="docache_{{ variable['name'] }}" value="1" checked="checked"/>
             {% else %}
                <input type="checkbox" name="docache[{{ variable['name'] }}]" id="docache_{{ variable['name'] }}" value="1"/>
              {% endif %}</td>
          <td>
              <a href="{{ variable['name'] }}">{{ variable['name'] }}</a>
          </td>
          <td  class="xar-align-center"><input type="text" name="cacheexpire[{{ variable['name'] }}]" id="cacheexpire_{{ variable['name'] }}" value="{{ variable['cacheexpire'] }}" size="9" maxlength="9" /></td>
        </tr>
        {% endfor %}
        <tr>
          <td class="xar-align-center">
            <a href="javascript:xar_base_checkall(document.forms['variablecache_form'],true)">{{ xar_translate('Check All') }}</a><br/>
            <a href="javascript:xar_base_checkall(document.forms['variablecache_form'],false)">{{ xar_translate('Clear All') }}</a>
          </td>
          <td>
	    // TODO: add more variables + use in xarVariableCache settings afterwards<br/>
            <input type="hidden" name="authid" value="{{ authid }}" />
            <input type="submit" name="submit" value="{{ xar_translate('Submit') }}" />
          </td>
          <td class="xar-align-center">
            <input type="submit" name="reset" value="{{ xar_translate('Reset All') }}" />
          </td>
        </tr>
        </table>
        </fieldset>
        </form>
    {% endif %}

</div>
{% endblock %}