{# @dynamicdata/objects/ui_display.html.twig #}

{% block ui_display %}
{{ include('@dynamicdata/includes/user-mod-head.html.twig') }}
    <div class="xar-mod-body">
        {% if object %}
            {% set viewlink = object.getActionURL('view') %}
            {% if object.checkAccess('update') %}
                {% set modifylink = object.getActionURL('modify', object.itemid) %}
            {% endif %}
            <h2>
                {{ object.label }}&#160;
                <a href="{{ viewlink }}" title="View {{ object.label }}">
                    {{- xar_image({scope: "theme", file: "icons/item-list.png", class: "xar-icon", alt: "view"}) -}}
                </a>
                {% if modifylink %}
                    &#160;<a href="{{ modifylink }}" title="Edit {{ object.label }}">
                        {{- xar_image({scope: "theme", file: "icons/modify.png", class: "xar-icon", alt: "modify"}) -}}
                    </a>
                {% endif %}
            </h2>

            {% set getlinked = xar_coremethod('xarModItemVars', 'get', 'dynamicdata','getlinkedobjects',object.objectid) %}
            {% if getlinked %}

                {# <!-- Display object with linked objects --> #}
                {{ include('@dynamicdata/includes/display_linked.html.twig') }}

            {% else %}

                {# <!-- Display object - you can specify the layout here or in the object configuration --> #}
                {{ xar_data_display({object: object}) }}
                {# <!-- Display hook output --> #}
                {% if hooks %}
                    {% for module, output in hooks %}
                        {{ output }}
                    {% endfor %}
                {% endif %}

            {% endif %}
        {% endif %}
    </div>
{% endblock %}