{# @dynamicdata/blocks/form.html.twig #}

{% block form %}
<form method="post" action="{{ xar_moduleurl('dynamicdata','admin','create') }}">
        <table class="xar-table">
            {{ xar_data_form({object: object}) }}
            <tr>
                <td class="xar-form-actions" colspan="2">
                    {% set label = 'Create Item' %}
                    {{- xar_button({type: "submit", label: label}) -}}
                </td>
            </tr>
        </table>
        <input type="hidden" name="objectid" id="objectid" value="{{ objectid }}"/>
        <input type="hidden" name="itemid" id="itemid" value="0"/>
        <input type="hidden" name="authid" id="authid" value="{{ xar_coremethod('xarSec', 'genAuthKey', 'dynamicdata') }}"/>
        <input type="hidden" name="return_url" id="return_url"
        value="{{ xar_currenturl() }}"/>
    </form>
{% endblock %}