{# @modules/includes/modinfo-twig.html.twig #}

{% block modinfo_twig %}
{% if twigenabled %}
    <div class="xar-row">
        <div class="xar-col">
            <label class="xar-form-label">
                Twig Templates
                (enabled)
            </label>
        </div>
        <div class="xar-col">
            <fieldset>
                <div class="xar-row">
                    <div class="xar-col">
                        Standard Theme
                    </div>
                    <div class="xar-col">
                        <strong>templates/twig/themes/{theme}/</strong>modules/{{ modname }} or in <strong>vendor/xaraya/twig/</strong>
                    </div>
                </div>
                <div class="xar-row">
                    <div class="xar-col">
                        Standard Module
                    </div>
                    <div class="xar-col">
                        <strong>templates/twig/</strong>code/modules/{{ modname }} or in <strong>vendor/xaraya/twig/</strong>
                    </div>
                </div>
                <div class="xar-row">
                    <div class="xar-col">
                        Custom Theme
                    </div>
                    <div class="xar-col">
                        <strong>templates/custom/themes/{theme}/</strong>modules/{{ modname }}
                    </div>
                </div>
                <div class="xar-row">
                    <div class="xar-col">
                        Custom Module
                    </div>
                    <div class="xar-col">
                        <strong>templates/custom/</strong>code/modules/{{ modname }}
                    </div>
                </div>
                <div class="xar-row">
                    <div class="xar-col">
                        Extension
                    </div>
                    <div class="xar-col">
                        {{ twigextension }}
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
{% else %}
    <div class="xar-row">
        <div class="xar-col">
            <label class="xar-form-label">
                Twig Templates
                (disabled)
            </label>
        </div>
        <div class="xar-col">
            <pre>$ composer xar-twig-install</pre>
        </div>
    </div>
{% endif %}
{% endblock %}