{# @messages/new.html.twig #}

{% extends '@messages/base.html.twig' %}

{% block modulespace %}
{{ xar_style({scope: "module", module: "messages", file: "messages"}) }}
 
    {{ include('@messages/includes/user-mod-head.html.twig') }}
        
    <div class="xar-mod-body">
    
        {% if xar_apifunc('messages' , 'user' , 'isset_grouplist') %}
    
        <h2>{{ input_title }}</h2>
    
        <form id="inputbox" action="{{ post_url }}" method="post" enctype="multipart/form-data">
         
        {% if reply %}
        <div id="message_display" class="reply_display">
            {{ xar_data_display({object: display, tplmodule: "messages", replyto: replyto}) }}
        </div>
        {% endif %}
    
                {{ xar_data_form({object: object, tplmodule: "messages", template: "new", reply: reply, replyto: replyto, to_id: to_id, opt: opt}) }}
    
            <div class="xar-align-center xar-margin-thick">
                <input type="hidden" name="authid" id="authid" value="{{ xar_security_authkey() }}"/>
                <input type="hidden" name="reply" id="reply" value="{{ reply }}"/> 
                <input type="submit" name="draft" id="draft" value="{{ xar_translate('Save draft') }}" class="xar-margin-thickright"/>
            <input type="submit" name="saveandedit" id="saveandedit" value="{{ xar_translate('Save draft and edit') }}" class="xar-margin-thickright"/>
                <input type="submit" name="send" id="send" value="{{ xar_translate('Send') }}" class="xar-margin-thickright"/>
            </div>
        </form>
    
        {% else %}
    
            No recipients are configured for your group.
    
            {% if xar_security_check('AdminMessages') %}
                <a href="{{ xar_moduleurl('messages','admin','modifyconfig') }}">Modify the allowed recipients in the Role Groups settings</a>.			
            {% endif %}
    
        {% endif %}
    </div>
{% endblock %}