{# @modules/admin/release.html.twig #}

{% block release %}
{{ include('@modules/includes/admin-mod-head.html.twig') }}
    <div class="xar-mod-body">
        <h2>Recent Extension Releases</h2>
        {% if not warning %}
            {% if feedcontent %}
                {% for release in feedcontent %}
                    {% if release['link'] %}
                    <h3>
                        <a href="{{ release['link'] }}" onclick="window.open(this.getAttribute('href'));return false;">
                            {{ release['title'] }}
                        </a>
                    </h3>
                    {% else %}
                        <h3>{{ release['title'] }}</h3>
                    {% endif %}
                    {% if release['description'] %}
                        <p>{{ release['description'] }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}
            {{ warning }}
        {% endif %}
    </div>
{% endblock %}