{# @base/blocks/sidemenu.html.twig #}

{% block sidemenu %}
{% if menustyle is not null %}{{ menustyle }}{% endif %}
        {% if not catmods or catmods is not iterable %}
            <ul class="xar-menu-section">
                <li class="xar-menu-section">
                    <h4>Modules</h4>
                    <ul class="xar-menu-item">
                        {# <!-- hand the links off to the common blocks-menu-menulinks include template
                             the template recursively includes itself to add sublinks to any number
                             of nested levels, and also ensures menus are consistent  :)
                             You can of course over-ride this block template, or the include itself
                             to provide unique styling for individual menus
                        --> #}
                        {% set subdata = {
                            'menulinks': adminmods,
                            'menuid': 'menu' ~ _bl_block_id,
                            'marker': marker,
                            'maxlevels': 2
                        } %}
                        {{ include('@base/includes/blocks-menu-menulinks.html.twig', subdata) }}
                    </ul>
                </li>
            </ul>
        {% else %}
            {% for catname, menulinks in catmods %}
                {% if menulinks|length != 0 %}
                    <ul class="xar-menu-section">
                        <li class="xar-menu-section">
                            <h4>{{ catname }}</h4>
                            {# <!-- hand the links off to the common blocks-menu-menulinks include template
                                 the template recursively includes itself to add sublinks to any number
                                 of nested levels, and also ensures menus are consistent  :)
                                 You can of course over-ride this block template, or the include itself
                                 to provide unique styling for individual menus
                            --> #}
                            {% set subdata = {
                                'menulinks': menulinks,
                                'menuid': 'adminmenu' ~ _bl_block_id,
                                'marker': marker,
                                'maxlevels': 2,
                            } %}
                            {{ include('@base/includes/blocks-menu-menulinks.html.twig', subdata) }}
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
        {# <!-- Logout --> #}
        {% if showlogout or showfront %}
            <ul class="xar-menu-section">
                <li class="xar-menu-section">
                    <h4>Controls</h4>
                    <ul class="xar-menu-item">
                    {% if showfront %}
                        <li class="xar-menu-item">
                            {% set label = 'View the site front end' %}
                            <a title="{{ label }}" href="{{ xar_baseurl() }}">
                                View Front End
                            </a>
                        </li>
                    {% endif %}
                    {% if showlogout %}
                       <li class="xar-menu-item">
                            {% set label = 'Logout as administrator' %}
                            <a title="{{ label }}" href="{{ xar_moduleurl('base','admin','confirmlogout') }}">
                                Logout
                            </a>
                        </li>
                    {% endif %}
                    </ul>
                </li>
            </ul>
        {% endif %}
{% endblock %}