{# @library/main.html.twig #}

{% extends '@library/base.html.twig' %}

{% block modulespace %}
<div class="xar-mod-head">
        <span class="xar-mod-title">
            Library
        </span>
    </div>
    <div class="xar-mod-body">
        <div class="xar-mod-object-head">
            <h2>View Library</h2>
        </div>
        {# <!-- show the list of main objects --> #}
        <div class="xar-mod-object-body">
            {# <!-- xar:template type="module" file="main_objects"/--> #}
            {% if not name %}
                <h3>Available Databases</h3>
                {% if xar_security_check('AdminDynamicData', 0) %}
                    <form method="post">
                    <p>Please specify which databases should be shown to your users here</p>
                    <ul>
                        {% for database in databases %}
                        <li>
                            {% if not database['disabled'] %}
                                <input type="checkbox" name="selected[{{ database['name'] }}]" id="selected_{{ database['name'] }}" checked="checked"/>&#160;
                            {% else %}
                                <input type="checkbox" name="selected[{{ database['name'] }}]" id="selected_{{ database['name'] }}"/>&#160;
                            {% endif %}
                            <a href="{{ xar_moduleurl('library', 'user', 'main', {'name': database['name']}) }}">{{ database['description'] }}</a>
                            {% if current and current == database['name'] %}
                                (*)
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    <fieldset>
                        <legend>Add Calibre Database</legend>
                        <div class="xar-row">
                            <div class="xar-col">
                                <label class="xar-form-label" for="new_name" title="" style="">URL Name</label>
                            </div>
                            <div class="xar-col">
                                <input type="text" id="new_name" name="new[name]" value="" size="25" maxlength="254" tabindex="0" style="" class="xar-form-textmedium"/>
                                (lowercase, no space)
                            </div>
                        </div>
                        <div class="xar-row">
                            <div class="xar-col">
                                <label class="xar-form-label" for="new_description" title="" style="">Description</label>
                            </div>
                            <div class="xar-col">
                                <input type="text" id="new_description" name="new[description]" value="" size="25" maxlength="254" tabindex="0" style="" class="xar-form-textxlong"/>
                                (shown in list above)
                            </div>
                        </div>
                        <div class="xar-row">
                            <div class="xar-col">
                                <label class="xar-form-label" for="new_filepath" title="" style="">File Path to metadata.db</label>
                            </div>
                            <div class="xar-col">
                                <input type="text" id="new_filepath" name="new[filepath]" value="" size="25" maxlength="254" tabindex="0" style="" class="xar-form-textxlong"/>
                                (accessible to Xaraya)
                            </div>
                        </div>
                    </fieldset>
                    <input type="hidden" name="selected[_none_]" value="no"/>
                    <input type="hidden" name="authid" value="{{ xar_security_authkey('library') }}"/>
                    {% set label = 'Update List' %}
                    {{- xar_button({type: "submit", label: label}) -}}
                    </form>
                    <p>(*) current database</p>
                {% else %}
                    <ul>
                        {% for database in databases %}
                        <li>
                            <a href="{{ xar_moduleurl('library', 'user', 'main', {'name': database['name']}) }}">{{ database['description'] }}</a>
                            {% if current and current == database['name'] %}
                                (*)
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    <p>(*) current database</p>
                {% endif %}
            {% else %}
                <h3>{{ description }}</h3>
                <ul>
                    {% for objectname, objectinfo in objects %}
                        {% set link = xar_objecturl(objectname, 'view') %}
                        <li><a href="{{ link }}">{{ objectinfo['label'] }}</a></li>
                    {% endfor %}
                </ul>
                {# <!-- don't show a newlink here --> #}
                {{ xar_data_view({object: objectlist, linktype: "object"}) }}
            {% endif %}
        </div>
    </div>
{% endblock %}