{# @calendar/includes/headerconfig.html.twig #}

{% block headerconfig %}
{{ xar_style({scope: "module", module: "base", file: "navtabs"}) }}
    <br />
    <dl class="xar-tabs">
        <dt class="help">
            Applies to:
        </dt>
        {% if tab == 'calendar_general' %}
            {% set class = "active" %}
        {% else %}
            {% set class = "" %}
        {% endif %}
        <dd class="{{ class }}">
            <a href="{{ xar_moduleurl('calendar', 'admin', 'modifyconfig', {'tabmodule': 'calendar', 'tab': 'calendar_general'}) }}">
            General</a>
        </dd>
        {% set tabs = hooks['tabs'] %}
        {% for thistab in tabs %}
            {% set configtab = thistab['module'] ~ "_" ~ thistab['configarea'] %}
            {% if tab == configtab %}
                {% set class = "active" %}
            {% else %}
                {% set class = "" %}
            {% endif %}
            <dd class="{{ class }}">
                <a href="{{ xar_moduleurl('calendar', 'admin', 'modifyconfig', {'tabmodule': thistab['module'], 'tab': configtab}) }}">
                    {{ thistab['configtitle'] }}
                </a>
            </dd>
        {% endfor %}
    </dl>
{% endblock %}