{# @publications/includes/config_defaults.html.twig #}

{% block config_defaults %}
<div class="xar-row">
        <div class="xar-col">
            <label for="show_pagetree" title="{{ xar_translate('The default page to show in the back end.') }}" class="xar-form-label">
                Show page tree view                
            </label>
        </div>
        <div class="xar-col">
            {% set value = xar_modulevar('publications', 'show_pagetree') %}
            {{ xar_data_input({type: "checkbox", name: "show_pagetree", checked: value}) }}
        </div>
    </div>
    <div class="xar-row">
        <div class="xar-col">
            <label for="show_bypubtype" title="{{ xar_translate('The default page to show in the back end.') }}" class="xar-form-label">
                Show pages by type view                
            </label>
        </div>
        <div class="xar-col">
            {% set value = xar_modulevar('publications', 'show_bypubtype') %}
            {{ xar_data_input({type: "checkbox", name: "show_bypubtype", checked: value}) }}
        </div>
    </div>
    <div class="xar-row">
        <div class="xar-col">
            <label class="help xar-form-label" for="defaultpubtype" title="{{ xar_translate('Note. selecting Defaults here implies navigating (by category) }} across all publication types') }}">
                Default Publication Type
            </label> 
        </div>
        <div class="xar-col">
            {{ xar_data_input({name: "defaultpubtype", type: "objectref", refobject: "publications_types", store_prop: "id", display_prop: "description", value: ptid}) }}
        </div>
    </div>
    <div class="xar-row">
        <div class="xar-col">
            <label class="help xar-form-label" for="sortpubtypes" title="{{ xar_translate('Sort order for Publication Types in menus, publication map etc.') }}">
                Publication Type Sort Order
            </label>
        </div>
        <div class="xar-col">
            {% set options = [
                    {'id': 'id', 'name': 'ID'},
                    {'id': 'name', 'name': 'Name'},
                    {'id': 'description', 'name': 'Description'},
                ] %}
            {{ xar_data_input({name: "sortpubtypes", type: "dropdown", options: options}) }}&#160;
        </div>
    </div>
    <div class="xar-row">
        <div class="xar-col">
            <label class="help xar-form-label" for="use_versions" title="{{ xar_translate('Enable automatic saving of versions') }}">
                Enable Versions
            </label>
        </div>
        <div class="xar-col">
            {% set value = xar_modulevar('publications', 'use_versions') %}
            {{ xar_data_input({type: "checkbox", name: "use_versions", checked: value}) }}
        </div>
    </div>
    <div class="xar-row">
        <div class="xar-col">
            <label class="help xar-form-label" for="use_process_states" title="{{ xar_translate('Enable process states for workflow') }}">
                Enable Process States
            </label>
        </div>
        <div class="xar-col">
            {% set value = xar_modulevar('publications', 'use_process_states') %}
            {{ xar_data_input({type: "checkbox", name: "use_process_states", checked: value}) }}
        </div>
    </div>
    {# @todo set in template variables #}
    {% if xar_coremethod('xarDB', 'getType') == 'mysql' %}
        <div class="xar-row">
            <div class="xar-col">
            {# <!--
                You can adapt the field list here if you want e.g. to ignore the notes field for full-text search
            --> #}
                <label class="help xar-form-label" for="fulltext" title="{{ xar_translate('Enable full-text search in MySQL') }}">
                    Full-text search in MySQL                        
                </label>
            </div>
            <div class="xar-col">
                {% set checked = xar_modulevar('publications', 'fulltextsearch') %}
                {{ xar_data_input({name: "fulltext", type: "checkbox", checked: checked}) }}&#160;
                [<a href="http://dev.mysql.com/doc/refman/4.1/en/fulltext-restrictions.html">with restrictions</a>]
            </div>
        </div>
    {% endif %}
    <div class="xar-row">
        <div class="xar-col">
            <label class="help xar-form-label" for="admin_override" title="{{ xar_translate('Defines who apart from the owner can manage members') }}">
               Allow edit/delete by
            </label>
        </div>
        <div class="xar-col">
            {% set options = [
                    {'id': 0, 'name': xar_translate('Only owner')},
                    {'id': 1, 'name': xar_translate('Owner or administrators')},
                    {'id': 2, 'name': xar_translate('Owner or designated site administrator')},
                ] %}
            {% set value = xar_modulevar('publications', 'admin_override') %}
            {{ xar_data_input({name: "admin_override", type: "dropdown", options: options, value: value}) }}
        </div>
    </div>
{% endblock %}