{# @publications/includes/editicons-user.html.twig #}

{% block editicons_user %}
{% set allowed = properties['access'].getValue() %}
    {% set label = 'Create a new publication' %}
    {% if xar_access({'group': pubtype_access['add']['group']}) %}
        <a href="{{ xar_moduleurl('publications', 'user', 'new') }}" style="float:right; margin-right: 10px" title="{{ label }}">
            <img src="{{ xar_imageurl('icons/document-new.png','base') }}"/>
        </a>
    {% endif %}
    {% if xar_access({'group': allowed['modify']['group']}) %}
        {% set label = 'Modify this publication' %}
        <a href="{{ xar_moduleurl('publications', 'user', 'modify',{'itemid': properties['id'].value}) }}" style="float:right; margin-right: 10px" title="{{ label }}">
            <img src="{{ xar_imageurl('icons/modify.png','base') }}"/>
        </a>
    {% endif %}
    {% if xar_access({'group': allowed['delete']['group']}) %}
        {% set label = 'Delete this publication' %}
        <a href="{{ xar_moduleurl('publications', 'user', 'delete',{'itemid': properties['id'].value}) }}" style="float:right; margin-right: 10px" title="{{ label }}">
            <img src="{{ xar_imageurl('icons/delete.png','base') }}"/>
        </a>
    {% endif %}
{% endblock %}