{# @publications/includes/listing_summaryline.html.twig #}

{% block listing_summaryline %}
{% set thispageno = items|length %}
    {% if not layout %}
        {% set layout = 'publications-user' %}
    {% endif %}
    <div class="xar-clearleft xar-floatleft xar-padding-thick xar-halfwidth xar-align-left" style="padding-top:1em;">
        {% if total > items_per_page %}
          {{ xar_translate('Displaying #(1) of #(2) selected', thispageno, total) }}
        {% else %}
           Total selected: {{ total }}
        {% endif %}
    </div>
    {% if (layout == 'publications-user') or (layout == 'publications-admin') or (layout == 'default') %}
        <div class="xar-floatright xar-padding-thick xar-halfwidth xar-align-right" style="padding-top:1em;">
            {{ include('@' ~ module ~ '/includes/listing_newlink.html.twig') }}
        </div>
    {% elseif layout == 'pubtypes' %}
        <div class="xar-floatright xar-padding-thick xar-halfwidth xar-align-right" style="padding-top:1em;">
            {% if xar_access({'level': 700}) %}
                {% set link = xar_moduleurl('dynamicdata','util','import') %}
                {% if xar_modulevar('publications', 'use_module_icons') %}
                    <a href="{{ link }}" title="{{ xar_translate('Import a Publication Type from XML ') }}" style="margin-right: 5px">
                        <img src="{{ xar_imageurl('icons/' ~ 'software-install.png', 'base') }}" width="16" height="16" alt="{{ xar_translate('Import') }}"/>
                    </a>
                {% else %}
                    <a href="{{ link }}" style="margin-right: 5px">
                        Import a Publication Type from XML 
                    </a>
                {% endif %}
                {% set args = xar_coremethod('DataObjectDescriptor','getObjectID',{'name': 'publications_types'}) %}
                {% set link = xar_moduleurl('dynamicdata','admin','new',{'objectid': args['objectid']}) %}
                {% if xar_modulevar('publications', 'use_module_icons') %}
                    <a href="{{ link }}" title="{{ xar_translate('Add A New Publication Type') }}" style="margin-right: 5px">
                        <img src="{{ xar_imageurl('icons/' ~ 'document-new.png', 'base') }}" width="16" height="16" alt="{{ xar_translate('Add') }}"/>
                    </a>
                {% else %}
                    <a href="{{ link }}" style="margin-right: 5px">
                        Add a new Publication Type
                    </a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}