{# @publications/includes/listing_newlink.html.twig #}

{% block listing_newlink %}
    {% if layout == 'publications-admin' %}
        {% if xar_access({'level': 600}) %}
            {% set link = xar_moduleurl('publications','admin','new',{'ptid': object.properties['itemtype'].defaultvalue, 'tplmodule': module}) %}
            {% if xar_modulevar('publications', 'use_module_icons') %}
                <a href="{{ link }}" title="{{ xar_translate('Add A New Publication') }}" style="margin-right: 5px">
                    <img src="{{ xar_imageurl('icons/document-new.png', 'base') }}" width="16" height="16" alt="{{ xar_translate('Add') }}"/>
                </a>
            {% else %}
                <a href="{{ link }}">
                    Add A New Publication
                </a>
            {% endif %}
        {% endif %}
    {% else %}
        {% if xar_access({'level': 600}) %}
            {% set link = xar_moduleurl('publications','user','new',{'ptid': object.properties['itemtype'].defaultvalue, 'tplmodule': module}) %}
            {% if xar_modulevar('publications', 'use_module_icons') %}
                <a href="{{ link }}" title="{{ xar_translate('Add A New Publication') }}" style="margin-right: 5px">
                    <img src="{{ xar_imageurl('icons/document-new.png', 'base') }}" width="16" height="16" alt="{{ xar_translate('Add') }}"/>
                </a>
            {% else %}
                <a href="{{ link }}">
                    Add A New Publication
                </a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}