{# @publications/includes/listing_rowsuffix.html.twig #}

{% block listing_rowsuffix %}
{% if not layout %}
        {% set layout = 'publications-user' %}
    {% endif %}
    {% if (layout == 'publications-user') or (layout == 'default') %}
        {% if xar_coremethod('xarUser', 'isLoggedIn') %}
            <td style="text-align: center;" nowrap="nowrap">
                <xar:access level="500">
                    <a href="{{ xar_moduleurl(module, 'user', 'modify', {'name': objectname, 'itemid': loopitem[primaryalias]}) }}" title="{{ xar_translate('Modify this item') }}" style="margin-right: 5px">
                        <img src="{{ xar_imageurl('icons/'.'modify.png', 'base') }}" width="16" height="16" alt="{{ xar_translate('Modify') }}"/>
                    </a>
                </xar:access>
                <xar:access level="700">
                    <a href="{{ xar_moduleurl(module, 'user', 'delete', {'name': objectname, 'itemid': loopitem[primaryalias]}) }}" title="{{ xar_translate('Delete this item') }}" style="margin-right: 5px">
                        <img src="{{ xar_imageurl('icons/'.'delete.png', 'base') }}" width="16" height="16" alt="{{ xar_translate('Delete') }}"/>
                    </a>
                </xar:access>
                <xar:access level="200">
                    <a href="{{ xar_moduleurl(module, 'user', 'display', {'name': objectname, 'itemid': loopitem[primaryalias]}) }}" title="{{ xar_translate('Display this item') }}" style="margin-right: 5px">
                        <img src="{{ xar_imageurl('icons/'.'display.png', 'base') }}" width="16" height="16" alt="{{ xar_translate('Display') }}"/>
                    </a>
                </xar:access>
                <input type="checkbox" name="optionscheckbox" id="{{ loopitem[primaryalias] }}"  />
            </td>
        {% endif %}
    {% elseif (layout == 'publications-admin') %}
        {% if xar_coremethod('xarUser', 'isLoggedIn') %}
            <td style="text-align: center;" nowrap="nowrap">
                <xar:access level="500">
                    {% set link = xar_moduleurl(module, 'admin', 'modify', {'name': objectname, 'itemid': loopitem[primaryalias]}) %}
                    {% if xar_modvar('publications', 'use_module_icons') %}
                        <a href="{{ link }}" title="{{ xar_translate('Modify this publication') }}" style="margin-right: 5px">
                            <img src="{{ xar_imageurl('icons/'.'modify.png', 'base') }}" width="16" height="16" alt="{{ xar_translate('Modify Publication') }}"/>
                        </a>
                    {% else %}
                        <a href="{{ link }}">
                            Modify
                        </a>
                    {% endif %}
                </xar:access>
                <xar:access level="700">
                    {% set link = xar_moduleurl(module, 'admin', 'clone', {'name': objectname, 'itemid': loopitem[primaryalias]}) %}
                    {% if xar_modvar('publications', 'use_module_icons') %}
                        <a href="{{ link }}" title="{{ xar_translate('Clone this publication') }}" style="margin-right: 5px">
                            <img src="{{ xar_imageurl('icons/'.'add.png', 'base') }}" width="16" height="16" alt="{{ xar_translate('Clone Publication') }}"/>
                        </a>
                    {% else %}
                        <a href="{{ link }}">
                            Clone
                        </a>
                    {% endif %}
                </xar:access>
                <xar:access level="700">
                    {% set link = xar_moduleurl(module, 'admin', 'delete', {'name': objectname, 'itemid': loopitem[primaryalias]}) %}
                    {% if xar_modvar('publications', 'use_module_icons') %}
                        <a href="{{ link }}" title="{{ xar_translate('Delete this publication') }}" style="margin-right: 5px">
                            <img src="{{ xar_imageurl('icons/'.'delete.png', 'base') }}" width="16" height="16" alt="{{ xar_translate('Delete Publication') }}"/>
                        </a>
                    {% else %}
                        <a href="{{ link }}">
                            Delete
                        </a>
                    {% endif %}
                </xar:access>
                <xar:access level="200">
                    {% set link = xar_moduleurl(module, 'admin', 'display', {'name': objectname, 'itemid': loopitem[primaryalias]}) %}
                    {% if xar_modvar('publications', 'use_module_icons') %}
                        <a href="{{ link }}" title="{{ xar_translate('Display this publication') }}" style="margin-right: 5px">
                            <img src="{{ xar_imageurl('icons/'.'display.png', 'base') }}" width="16" height="16" alt="{{ xar_translate('Display Publication') }}"/>
                        </a>
                    {% else %}
                        <a href="{{ link }}">
                            Display
                        </a>
                    {% endif %}
                </xar:access>
                <xar:access level="800">
                    {% set link = xar_moduleurl(module, 'admin', 'templates_page', {'ptid': loopitem['itemtype'], 'itemid': loopitem[primaryalias]}) %}
                    {% if xar_modvar('publications', 'use_module_icons') %}
                        <a href="{{ link }}" title="{{ xar_translate('Manage templates of this item') }}" style="margin-right: 5px">
                            <img src="{{ xar_imageurl('template.png','publications') }}" width="16" height="16" alt="{{ xar_translate('Manage Templates') }}"/>
                        </a>
                    {% else %}
                        <a href="{{ link }}">
                            Templates
                        </a>
                    {% endif %}
                </xar:access>
                <xar:access level="700">
                    <input type="checkbox" name="optionscheckbox" id="{{ loopitem[primaryalias] }}"  />
                </xar:access>
            </td>
        {% endif %}
    {% elseif layout == 'pubtypes' %}
        <td class="xar-norm" nowrap="nowrap">
            {% set ptid = loopitem[primaryalias] %}
            {% set args = xar_coremethod('DataObjectDescriptor','getObjectID',{'name': properties['name'].value}) %}
            {% if xar_security_check('ManagePublications') %}
                <a href="{{ xar_moduleurl('publications','admin','modify_pubtype',{'itemid': ptid}) }}" title="{{ xar_translate('Modify this publication type') }}" style="margin-right: 5px">                    
                    <img src="{{ xar_imageurl('icons/modify.png','base') }}" alt="{{ xar_translate('Modify') }}"/>
                </a>
            {% endif %}
            {% if xar_security_check('ManagePublications') %}
                {% if xar_modvar('publications', 'defaultpubtype') == ptid %}
                    <img src="{{ xar_imageurl('icons/delete.png','base') }}" style="margin-right: 5px"/>
                {% else %}
                    <a href="{{ xar_moduleurl('publications','admin','delete_pubtype',{'itemid': ptid, 'name': 'objects'}) }}" title="{{ xar_translate('Delete this publication type') }}" style="margin-right: 5px">                    
                        <img src="{{ xar_imageurl('icons/delete.png','base') }}" alt="{{ xar_translate('Delete') }}"/>
                    </a>
                {% endif %}
            {% endif %}
            {% if xar_security_check('AdminPublications') %}
                <a href="{{ xar_moduleurl('publications','admin','modifyconfig',{'ptid': ptid, 'tab': 'pubtypes'}) }}" title="{{ xar_translate('Configure this publication type') }}" style="margin-right: 5px">                    
                    <img src="{{ xar_imageurl('icons/modify-config.png','base') }}" alt="{{ xar_translate('Configure') }}"/>
                </a>
            {% else %}                
                Publication Config &#160;|&#160;
            {% endif %}
            {% if xar_security_check('EditPublications') %}
                <a href="{{ xar_moduleurl('publications','admin','view',{'ptid': ptid}) }}" title="{{ xar_translate('List the pages of this publication type') }}" style="margin-right: 5px">                    
                    <img src="{{ xar_imageurl('icons/item-list.png','base') }}" alt="{{ xar_translate('List') }}"/>
                </a>
            {% else %}                
                View Publications &#160;|&#160;
            {% endif %}
            {# <!--
            {% if xar_security_check('AddPublications') %}
                <a href="{{ xar_moduleurl('publications','admin','new',{'ptid': ptid}) }}" style="margin-right: 5px">                    
                    <img src="{{ xar_imageurl('icons/add.png','base') }}"/>
                </a>
            {% else %}                
                Add Publication &#160;|&#160;
            {% endif %}
            --> #}
            {% if xar_security_check('AdminPublications') %}
                <a href="{{ xar_moduleurl('publications','admin','templates_type',{'ptid': ptid, 'tab': 'pubtypes'}) }}" title="{{ xar_translate('Manage templates of this publication type') }}" style="margin-right: 5px">                    
                    <img src="{{ xar_imageurl('template.png','publications') }}" alt="{{ xar_translate('Manage Templates') }}"/>
                </a>
            {% else %}                
                Templates
            {% endif %}
        </td>
    {% endif %}
{% endblock %}