{# @publications/includes/navtabs-user-map-extended.html.twig #}

{% block navtabs_user_map_extended %}
{{ xar_style({scope: "module", module: "base", file: "navtabs"}) }}
<dl class="xar-tabs">
    <dt class="help" title="{{ xar_translate('Click on a tab to explore further') }}">        
        Options 
    </dt>
    <dd>
        <a href="{{ xar_moduleurl('publications','user','viewmap',{'by': 'pub', 'ptid': ptid}) }}">            
            Publication Map by Publication Type             
        </a>
    </dd>
    {% if catfilter|length == 2 %}
        <dd>
            <a href="{{ xar_moduleurl('publications','user','viewmap',{'by': 'grid'}) }}">                
                Publication Map by Grid                 
            </a>
        </dd>
    {% endif %}
    {% if viewlink %}
        <dd>
            <a href="{{ viewlink }}">
                {{ viewlabel }} 
            </a>
        </dd>
    {% endif %}
    {% if archivelink %}
        {% if archivelink %}
            <dd>
                <a href="{{ archivelink }}">
                    {{ archivelabel }} 
                </a>
            </dd>
        {% endif %}
    {% endif %}
</dl>
{% endblock %}