{# @base/main-test.html.twig #}

{% extends '@base/base.html.twig' %}

{% block modulespace %}
{{ include('@base/includes/user-mod-head.html.twig') }}
    <div class="xar-mod-body">
        <p>
            This template <strong>modules/base/xartemplates/user-main<em>-test</em>.xt</strong> can be reached by adding <strong><a href="{{ xar_moduleurl('base','user','main',{'page': 'test'}) }}">page=<em>test</em></a></strong> to the base module URL.
            You can experiment with various blocklayout features and template tags here if you want...
        </p>

        <h3>XML to SQL Proof of Concept</h3>
        
        <h4>First create the roles object</h4>
{% verbatim %}
<pre>
{% set roles = xar_data_objectlist({'name': 'roles_users'}) %}
</pre>
{% endverbatim %}

        {# <!-- @todo Here we create the object --> #}
        {% set roles = xar_data_objectlist({'name': 'roles_users'}) %}


        <h4>1. A simple example with dataquery</h4>
{% verbatim %}
<pre>
{% set foo = roles.dataquery.eq('uname','anonymous') %}
{% set result = xar_data_getitems({object: roles}) %}
{% set properties = result[0] %}
{% set items = result[1] %}
</pre>
{% endverbatim %}
        {% set foo = roles.dataquery.eq('uname','anonymous') %}
        {# <!--
            Add SELECT with WHERE clauses here
        --> #}
        {% set result = xar_data_getitems({object: roles}) %}
        {% set properties = result[0] %}
        {% set items = result[1] %}
        
        <table class="xar-table">
            {% for key, value in items %}
                <tr><td>{{ key }}</td><td>{{ value['uname'] }}</td><td>{{ value['name'] }}</td></tr>
            {% endfor %}
        </table>
        
        <h4>2. Same example using a where parameter</h4>
{% verbatim %}
<pre>
{% set roles = xar_data_objectlist({'name': 'roles_users'}) %}
{% set result = xar_data_getitems({object: roles, where: "uname = 'anonymous'"}) %}
</pre>
{% endverbatim %}
        {# <!-- Here we create the object --> #}
        {% set roles = xar_data_objectlist({'name': 'roles_users'}) %}
        
        {# <!-- Here we create the object --> #}
        {% set result = xar_data_getitems({object: roles, where: "uname = 'anonymous'"}) %}
        {% set foo = roles.dataquery.qecho() %}

        {{ xar_data_view({object: roles, tplmodule: "dynamicdata", fieldlist: "id,uname,name,email,state"}) }}

        <hr/><h4>3. The xar:select tag (not supported)</h4>
        <h4>3.1. Markup</h4>
<pre>
&lt;xar:select objectname="modules" items="$items" name="myquery">
    &lt;xar:orconditions>
        &lt;xar:andconditions>
        &lt;xar:condition operator="eq" property="regid">8&lt;/xar:condition>
            &lt;xar:orconditions>
                &lt;xar:andconditions>
                    &lt;xar:orconditions>
                        &lt;xar:condition operator="eq" property="name">'base'&lt;/xar:condition>
                        &lt;xar:condition operator="eq" property="name">'roles'&lt;/xar:condition>
                    &lt;/xar:orconditions>
                    &lt;xar:condition operator="gt" property="id">1&lt;/xar:condition>
                    &lt;xar:condition operator="lt" property="id">5&lt;/xar:condition>
                &lt;/xar:andconditions>
                &lt;xar:condition operator="ne" property="regid">27&lt;/xar:condition>
            &lt;/xar:orconditions>
        &lt;/xar:andconditions>
        &lt;xar:condition operator="in" property="regid">[2,3,4,5,6,7,8,9,10]&lt;/xar:condition>
        &lt;xar:condition operator="like" property="name">'themes'&lt;/xar:condition>
    &lt;/xar:orconditions>
&lt;/xar:select>
</pre>
        {# 
        <xar:select objectname="modules" items="$items" name="myquery">
            <xar:orconditions>
                <xar:andconditions>
                <xar:condition operator="eq" property="regid">8</xar:condition>
                    <xar:orconditions>
                        <xar:andconditions>
                            <xar:orconditions>
                                <xar:condition operator="eq" property="name">'base'</xar:condition>
                                <xar:condition operator="eq" property="name">'roles'</xar:condition>
                            </xar:orconditions>
                            <xar:condition operator="gt" property="id">1</xar:condition>
                            <xar:condition operator="lt" property="id">5</xar:condition>
                        </xar:andconditions>
                        <xar:condition operator="ne" property="regid">27</xar:condition>
                    </xar:orconditions>
                </xar:andconditions>
                <xar:condition operator="in" property="regid">[2,3,4,5,6,7,8,9,10]</xar:condition>
                <xar:condition operator="like" property="name">'themes'</xar:condition>
            </xar:orconditions>
        </xar:select>
        #}
        <br /><br />
        <h4>3.2. Resulting query string</h4>
        {% set foo = myquery.qecho() %}
        N/A
        <br /><br />
        <h4>3.3. Result of running the query (see point 2.)</h4>
        {{ dump(items) }}
    
    
    </div>
{% endblock %}