{# @dynamicdata/properties/showinput-mongodb_bson.html.twig #}

{% block showinput_mongodb_bson %}
{% if value and value is object %}
        {# <!--
            Note: json-encode any sub-values and pass them along as array value here
        --> #}
        {% set decoded = value.jsonSerialize() %}
        {% if decoded is object %}
            {% set decoded = get_object_vars(decoded) %}
        {% endif %}
        {% if decoded is iterable and decoded|length > 0 %}
            (bson)<br/>
            <fieldset>
                <legend>BSON Document/Array</legend>
                {% for key, val in decoded %}
                {% set idkey = id ~ '.' ~ key %}
                {% set namekey = id ~ '[' ~ key ~ ']' %}
                <div class="xar-row">
                    <div class="xar-col">
                        <label for="{{ idkey }}">
                            {{ key }}
                        </label>
                    </div>
                    <div class="xar-col">
                        {% if val is object or val is iterable %}
                            {% set val = val|json_encode() %}
                            <textarea name="{{ namekey }}[]" id="{{ idkey }}">{{ val }}</textarea>
                        {% elseif val is string %}
                            {% set val = htmlspecialchars(val) %}
                            <input type="text" name="{{ namekey }}" id="{{ idkey }}" value="{{ val }}"/>
                        {% else %}
                            <input type="text" name="{{ namekey }}" id="{{ idkey }}" value="{{ val }}"/>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </fieldset>
        {% elseif decoded is iterable and decoded|length == 0 %}
            (array)<br/>
            <textarea name="{{ name }}[]" id="{{ id }}"></textarea>
        {% else %}
            {% set encoded = value|json_encode() %}
            (bson)<br/>
            <textarea name="{{ name }}[]" id="{{ id }}">{{ encoded }}</textarea>
        {% endif %}
    {% elseif value and value is iterable %}
        {% set encoded = value|json_encode() %}
        (array)<br/>
        <textarea name="{{ name }}[]" id="{{ id }}">{{ encoded }}</textarea>
    {% elseif value and value is string %}
        {% set value = htmlspecialchars(value) %}
        (bson)<br/>
        <input type="text" name="{{ name }}" id="{{ id }}" value="{{ value }}"/>
    {% else %}
        (bson)<br/>
        <input type="text" name="{{ name }}" id="{{ id }}" value="{{ value }}"/>
    {% endif %}
{% endblock %}