{# @dynamicdata/properties/showinput-subform.html.twig #}

{% block showinput_subform %}
{{ xar_javascript({position: "head", scope: "module", module: "dynamicdata", filename: "subform.js"}) }}
    <input type="hidden" id="fieldprefix" value="{{ fieldprefix }}"/>
    {% if not style or style == 'serialized' %}
        {% if object %}
            {% set numitems = object|length %}
            <input type="hidden" id="items" value="{{ numitems }}"/>
            <div style="clear:both">&#160;</div>
            {% if repeat %}
                {# <!--
                Use a field prefix for all input fields of the object, so that
                you can have several identical objects in the same input form
            --> #}
                {% if object is iterable %}
                    {% if layout and layout == 'table' %}
                        <table class="xar-table xar-items">
                        {% set i = 0 %}
                        {% for key, item in object %}
                            {% if not i %}
                                <tr>
                                    {% if editkeys %}
                                        <td>Key</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    {% for name in item.fieldlist %}
                                        {# <!-- CHECKME: syntax for property doesn't work with : and . ? --> #}
                                        <td>{{ xar_data_label({property: item.properties[name]}) }}</td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                            {% set i = i+1 %}
                            {% set prefix = "Item_" ~ i ~ "_" ~ fieldprefix %}
                            <tr>
                                {% if key and not key is numeric %}
                                    {% if editkeys %}
                                        <td><input type="text" name="Key_{{ i }}_{{ fieldprefix }}" value="{{ key }}" size="10"/> :</td>
                                    {% else %}
                                        <td>{{ key }}<input type="hidden" name="Key_{{ i }}_{{ fieldprefix }}" value="{{ key }}"/></td>
                                    {% endif %}
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% for name in item.fieldlist %}
                                    {# <!-- CHECKME: syntax for property doesn't work with : and . ? --> #}
                                    <td>{{ xar_data_input({property: item.properties[name], fieldprefix: prefix}) }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </table>
                    {% else %}
                        {% set i = 0 %}
                        {% for key, item in object %}
                            {% set i = i+1 %}
                            {% set prefix = "Item_" ~ i ~ "_" ~ fieldprefix %}
                            {% if key and not key is numeric %}
                                {% if editkeys %}
                                    <input type="text" name="Key_{{ i }}_{{ fieldprefix }}" value="{{ key }}" size="10"/>
                                {% else %}
                                    {{ key }}:<input type="hidden" name="Key_{{ i }}_{{ fieldprefix }}" value="{{ key }}"/>
                                {% endif %}
                            {% endif %}
                            {{ xar_data_form({object: item, layout: "prefix", fieldprefix: prefix, fieldlist: fieldlist}) }}
                        {% endfor %}
                    {% endif %}
                {% elseif object is object %}
                    {{ xar_data_form({object: object, layout: "prefix", fieldprefix: fieldprefix, fieldlist: fieldlist}) }}
                {% else %}
                    {{ object }}
                {% endif %}
            {% else %}
                {# <!--
            Use a field prefix for all input fields of the object, so that
            you can have several identical objects in the same input form
          --> #}
                {% if object|length > 2 %}
                    {# @todo use slice or other #}
                    {% set items = [array_shift(object)] %}
                    {% set insert = array_shift(object) %}
                    {% set items = array_merge(items,object) %}
                    {% set foo = array_push(items,insert) %}
                    {% set object = items %}
                {% endif %}
                {% set i = 0 %}
                <div id="item">
                    {% for item in object %}
                        {% set i = i+1 %}
                        {% set prefix = "Item_" ~ i ~ "_" ~ fieldprefix %}
                        <div id="{{ prefix }}">
                            {{ xar_data_form({object: item, layout: "prefix", fieldprefix: prefix, fieldlist: fieldlist}) }}
                            {% if i > 1 %}
                                <div class="xar-col dummy">
                                    <input type="button" title="Remove" value="Remove"
                                    style="height: 23px; font-size: small;"
                                    onclick="javascript:removeItem('{{ prefix }}')"/>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="xar-col dummy">
                    {% set label = 'Add Item' %}
                    {% set label1 = 'Add' %}
                    <input type="button" title="{{ label }}" value="{{ label1 }}" onclick="addItem();" style="height: 23px; font-size: small;"/>
                </div>
                <div id="itemtemplate" style="display:none;">
                    {{ xar_data_form({object: emptyobject, layout: "prefix", fieldprefix: "Item_dummyfieldprefix", fieldlist: fieldlist}) }}
                </div>
            {% endif %}
            <br />
        {% endif %}
        {# <!--
  {% if object %}
    <table class="xar-table xar-norm">
        {% if repeat %}
            {% set i = 0 %}
            {% for item in object %}
                {% set i = i+1 %}
                {% set prefix = i ~ "_" ~ fieldprefix %}
                {{ xar_data_form({object: item, layout: "prefix", fieldprefix: prefix, fieldlist: fieldlist}) }}
            {% endfor %}
            <br />
        {% else %}
            {% set i = 0 %}
            {% set i = i+1 %}
            {% set prefix = i ~ "_" ~ fieldprefix %}
            {{ xar_data_form({object: object[0], layout: "prefix", fieldprefix: prefix, fieldlist: fieldlist}) }}
            <br />
            <div id="item"></div>
            {% set label = 'Add Item' %}
            {% set label1 = 'Add' %}
            <input type="button" title="{{ label }}" value="{{ label1 }}" onclick="addItem();" style="height: 23px; font-size: small;"/>
        {% endif %}
    </table>
    <div id="itemtemplate" style="display: none;">
        {{ xar_data_form({object: item, layout: "prefix", fieldprefix: prefix, fieldlist: fieldlist}) }}
    </div>
  {% endif %}
--> #}
        {% elseif style == 'itemid' %}
        {% if object %}
            <div style="clear:both">&#160;</div>
            <table class="xar-table xar-norm">
                {% if dropdown and title %}
                    <tr>
                        <td>Select item</td>
                        <td>
                            <input type="hidden" name="{{ name }}_old" id="{{ id }}_old"
                            value="{{ value }}"/>
                            <select name="{{ name }}" id="{{ id }}" tabindex="{{ tabindex }}">
                                <option value="0">
                                    {% if input %}[ new item ]{% endif %}
                                </option>
                                {% for dropid, dropvalue in dropdown %}
                                    {% if value and value == dropid %}
                                        <option value="{{ dropid }}" selected="selected">[{{ dropid }}]
                                        {{ dropvalue[title] }}</option>
                                        {% else %}
                                        <option value="{{ dropid }}">[{{ dropid }}]
                                        {{ dropvalue[title] }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    {% else %}
                    <input type="hidden" name="{{ name }}" id="{{ id }}" value="{{ value }}"/>
                {% endif %}
                {% if input or not fieldlist or not title or fieldlist|length > 1 %}

                    <tr>
                        <td colspan="2">
                            {% if input %}
                                {{ xar_data_form({object: object, layout: "prefix", fieldprefix: fieldprefix, fieldlist: fieldlist}) }}
                                {% elseif not fieldlist or not title or fieldlist|length > 1 %}
                                {# <!-- don't bother showing this if we only display the title field --> #}
                                {{ xar_data_display({object: object}) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            </table>
        {% endif %}
        {% elseif style == 'childlist' or style == 'parentid' %}
        {% if object %}
            <table class="xar-table xar-norm">
                {% if dropdown and count %}
                    <tr>
                        <td>Select link</td>
                        <td>
                            {# <!--  use the link property to show the values in a nicer way --> #}
                            {% set linkprop = object.properties[link] %}
                            <input type="hidden" name="{{ name }}_old" id="{{ id }}_old"
                            value="{{ value }}"/>
                            <select name="{{ name }}" id="{{ id }}" tabindex="{{ tabindex }}">
                                <option value="0">[ new link ]</option>
                                {% for dropid, dropvalue in dropdown %}
                                    {% if value and value == dropvalue[link] %}

                                        <option value="{{ dropvalue[link] }}" selected="selected">
                                        {{ xar_data_output({property: linkprop, value: dropvalue[link]}) }}({{ dropvalue[count] }})</option>
                                        {% else %}
                                        <option value="{{ dropvalue[link] }}">
                                        {{ xar_data_output({property: linkprop, value: dropvalue[link]}) }}({{ dropvalue[count] }})</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            {% if not value %}
                                {{ xar_data_input({property: linkprop, name: name ~ '_new', id: id ~ '_new', value: "0"}) }}
                            {% endif %}
                        </td>
                    </tr>
                    {% elseif style == 'parentid' %}
                    {% if repeat %}
                        {# <!--
                  Use a field prefix for all input fields of the object, so that
                  you can have several identical objects in the same input form
              --> #}
                        {% for i in range(0, repeat - 1) %}
                            {% set prefix = "Item_" ~ i ~ "_" ~ fieldprefix %}
                            {{ xar_data_form({object: object, layout: "prefix", fieldprefix: prefix, fieldlist: fieldlist, tplmodule: tplmodule}) }}
                        {% endfor %}
                        {% else %}
                    {% endif %}
                    <input type="hidden" name="{{ name }}_old" id="{{ id }}_old" value="{{ value }}"/>
                    <input type="hidden" name="{{ name }}" id="{{ id }}" value="{{ value }}"/>
                    {% else %}
                    <input type="hidden" name="{{ name }}_old" id="{{ id }}_old"
                    value="{{ xar_prep_display(value) }}"/>
                    <input type="hidden" name="{{ name }}_new" id="{{ id }}_new" value="1"/>
                {% endif %}
                {% if style == 'childlist' or (dropdown and count) or value %}

                    <tr>
                        <td colspan="2">
                            {% if input %}
                                {{ xar_data_view({object: object, layout: "subform", fieldprefix: fieldprefix, fieldlist: fieldlist, tplmodule: tplmodule}) }}
                                <strong>TODO: allow removal/deleting of child items</strong>
                            {% else %}
                                {{ xar_data_view({object: object, layout: "subform", fieldprefix: fieldprefix, fieldlist: fieldlist, tplmodule: tplmodule}) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            </table>
        {% endif %}
    {% endif %}
    {% if invalid %}&#160; 
    <span class="xar-error">{{ invalid }}</span>{% endif %}
{% endblock %}