{# @dynamicdata/properties/showinput-deferitem.html.twig #}

{% block showinput_deferitem %}
{% if not options %}
        <input type="text" id="{{ id }}" name="{{ name }}" value="{{ value }}"/>
    {% else %}
        {% if onchange is null %}
          {% set onchange = 'return true;' %}
        {% endif %}
        <select name="{{ name }}" id="{{ id }}" tabindex="{{ tabindex }}" onchange="{{ onchange }}">
            {% if not value %}
                <option value="" selected="selected"></option>
            {% else %}
                <option value=""></option>
            {% endif %}
            {% for option in options %}
                {% if not option['id'] or option['id'] != option['name'] %}
                    {% if option['id'] == value %}
                        <option value="{{ option['id'] }}" selected="selected">{{ option['name'] }}</option>
                    {% else %}
                        <option value="{{ option['id'] }}">{{ option['name'] }}</option>
                    {% endif %}
                {% elseif option['id'] == value %}
                    <option selected="selected">{{ option['name'] }}</option>
                {% else %}
                    <option>{{ option['name'] }}</option>
                {% endif %}
            {% endfor %}
        </select>
    {% endif %}
    {{ include('@base/includes/dataproperty_additions.html.twig') }}
{% endblock %}