{# @dynamicdata/properties/showinput-callable.html.twig #}

{% block showinput_callable %}
{% if value is iterable and not source and 'id' in value|keys %}
        {% set source = value['id'] %}
    {% elseif source is null %}
        {% set source = value %}
    {% endif %}
    {% if not options %}
        {# <!-- TODO: fix update preview for mapper property --> #}
        {% if value is iterable %}
            <input type="text" id="{{ id }}" name="{{ name }}" value="{{ source }}"/>
            {{ value|json_encode() }}
        {% else %}
            <input type="text" id="{{ id }}" name="{{ name }}" value="{{ value }}"/>
        {% endif %}
    {% else %}
        {% if onchange is null %}
          {% set onchange = 'return true;' %}
        {% endif %}
        <select name="{{ name }}" id="{{ id }}" tabindex="{{ tabindex }}" onchange="{{ onchange }}">
            {% if not value %}
                <option value="" selected="selected"></option>
            {% else %}
                <option value=""></option>
            {% endif %}
            {% for option in options %}
                {% if not option['id'] or option['id'] != option['name'] %}
                    {% if option['id'] == source %}
                        <option value="{{ option['id'] }}" selected="selected">{{ option['name'] }}</option>
                    {% else %}
                        <option value="{{ option['id'] }}">{{ option['name'] }}</option>
                    {% endif %}
                {% elseif option['id'] == source %}
                    <option selected="selected">{{ option['name'] }}</option>
                {% else %}
                    <option>{{ option['name'] }}</option>
                {% endif %}
            {% endfor %}
        </select>
    {% endif %}
    {{ include('@base/includes/dataproperty_additions.html.twig') }}
{% endblock %}