{# @installer/admin/confirm_configuration.html.twig #}

{% block confirm_configuration %}
<link rel='icon' href="favicon.ico"/>
    {% set active_step = 8 %}
    <div id="main_right">
        {{ include('@installer/includes/status.html.twig') }}
    </div>
    <div id="main_left">
        <h1 class="xar-pagetitle">Choose Privileges Setup</h1>
        <h2>Privileges</h2>
        <form action="{{ xar_moduleurl('installer','admin','confirm_configuration') }}" method="post">
                {% for loop_key1, loop_item1 in options1 %}{% set loop_index1 = loop.index %}
                    <p>
                        {% if loop_item1['option'] == '' %}
                            {{ loop_item1['comment'] }} 
                        {% else %}
                            {% if loop_item1['option'] == 'true' %}
                                <input type="checkbox" name="chosen[]" id="chosen1_{{ loop_index1 }}" value="{{ loop_item1['item'] }}" checked="checked"/>
                            {% else %}
                                <input type="checkbox" name="chosen[]" id="chosen1_{{ loop_index1 }}" value="{{ loop_item1['item'] }}" checked="checked"/>
                            {% endif %}&#160;
                            <label for="chosen1_{{ loop_index1 }}">{{ loop_item1['comment'] }}</label>
                        {% endif %}
                    </p>
                {% endfor %}
                <p>
                    Disabling the options above will leave your registered and unregistered users with minimal access. The administrator you created in Step 6 will always have full access to the site.
                </p>
                {# <!--
                <div class="configuration">

                    <h4>
                    Configuration Modules
                    </h4>

                    <div class="scroller">
                        {% if missing == '' and options2|length == 0 %}
                            <p>
                            This configuration does not need to load any modules.
                            </p>
                        {% else %}
                        {% for loop_key1, loop_item1 in options2 %}{% set loop_index1 = loop.index %}
                            {% if loop_item1['option'] == '' %}
                                <p class="xar-normal">
                                    {{ loop_item1['comment'] }}
                                </p>
                                {% else %}
                                <p class="xar-normal">
                                    {% if loop_item1['option'] == 'true' %}
                                        <input type="checkbox" name="chosen[]" id="chosen2_{{ loop_index1 }}" value="{{ loop_item1['item'] }}" checked="checked"/>
                                    {% else %}
                                        <input type="checkbox" name="chosen[]" id="chosen2_{{ loop_index1 }}" value="{{ loop_item1['item'] }}"/>
                                    {% endif %}
                                    <label for="chosen2_{{ loop_index1 }}">
                                        {{ loop_item1['comment'] }}
                                    </label>
                                </p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                {% if installed != '' %}
                    <p class="xar-normal">
                    The following modules for this configuration are already installed:
                        {{ installed }}
                    </p>
                {% endif %}
                {% if missing != '' %}
                    <p>
                    The following modules for this configuration are missing in the modules directory:
                        {{ missing }}
                    </p>
                {% endif %}
                </div>
                <p>
                All of the above modules can be installed or removed at any later time in the Modules module.
                </p>
            --> #}
            <div class="xar-form-actions" style="margin: 2em 0;">
                {% set label = 'Continue' %}
                {{- xar_button({type: "submit", label: label, name: "create", id: "create"}) -}}
                <input type="hidden" name="install_language" id="install_language" value="{{ language }}"/>
                <input type="hidden" name="configuration" id="configuration" value="{{ configuration }}"/>
                <input type="hidden" name="confirmed" id="confirmed" value="true"/>
            </div>
        </form>
    </div>
{% endblock %}