{# @publications/admin/view.html.twig #}

{% block view %}
{{ include('@publications/includes/admin-mod-head.html.twig') }}
    <div class="xar-mod-body">
        <h2>
            Manage Publications            
        </h2>
        <div>
            <div>
                <label title="{{ xar_translate('Select a type of publication to add') }}" class="xar-form-label">
                    Publication Type:
                </label>
                <form method="post" action="{{ xar_moduleurl('publications','admin','view') }}">
                    {% set onchange = "javascript.this.form.submit();" %}
                    {{ xar_data_input({name: "ptid", type: "objectref", refobject: "publications_types", store_prop: "id", display_prop: "description", value: ptid, onchange: onchange}) }}
                </form>
            </div>
            {{ include('@publications/includes/navtabs-status.html.twig') }}
            {% if owner or locale or pubdate %}
                <h3>
                {% if pubdate %}
                    {{ xar_translate('Publication Date : #(1)') }}
                {% endif %}
                {% if owner %}
                    {{ xar_translate('By Author : #(1)') }}
                {% endif %}
                {% if locale %}
                    {{ xar_translate('Language : #(1)') }}
                {% endif %}
                </h3>
            {% endif %}
            {{ xar_data_output({type: "categorynavigation", layout: "trails", showchildren: "1", module: "publications", urltype: "admin", itemtype: ptid, catid: catid}) }}
            <div style="width: 100%">
               {{ xar_data_input({type: "listing", object: object, conditions: conditions, fieldlist: "name,title,author,version,redirect_flag,itemtype,state", tplmodule: "publications", layout: "publications-admin"}) }}
            </div>
        </div>
    </div>
{% endblock %}