{{ xar_twig_header("text/xml") -}}
<?xml version="1.0"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/"
xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
xmlns:atom="http://www.w3.org/2005/Atom"
xmlns:content="http://purl.org/rss/1.0/modules/content/">
    <channel>
        <title>{{ tpl.pageTitle }}</title>
        <link>{{ xar_prep_display(xar_baseurl()) }}</link>
        <description>
            {{ xar_modulevar('themes', 'SiteSlogan') }}
        </description>
        <dc:language>en-us</dc:language>
        <dc:creator>
            {{ xar_modulevar('mail', 'adminname') }}
        </dc:creator>
        <generator>http://www.xaraya.org</generator>
        <webMaster>{{ xar_modulevar('mail', 'adminmail') }} (website admin)</webMaster>
        <sy:updatePeriod>hourly</sy:updatePeriod>
        <sy:updateFrequency>1</sy:updateFrequency>
        <docs>http://backend.userland.com/rss</docs>
        <atom:link href="{{ xar_currenturl() }}" rel="self" type="application/rss+xml" />
        {% block modulespace %}{{ _bl_mainModuleOutput|raw }}{% endblock %}
    </channel>
</rss>
