<!DOCTYPE rss PUBLIC "-//Netscape Communications//DTD RSS 0.91//EN"   "http://web.archive.org/web/20030601160443/http://my.netscape.com/publish/formats/rss-0.91.dtd">
{{ xar_twig_header("text/xml") -}}
    <rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" xmlns:admin="http://webns.net/mvcb/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns"
    xmlns:content="http://purl.org/rss/1.0/modules/content/">
        <channel>
            <title>{{ tpl.pageTitle }}</title>
            <link>{{ xar_prep_display(xar_baseurl()) }}</link>
            <description>
                {{ xar_var({scope: "module", module: "themes", name: "SiteSlogan"}) }}
            </description>
            <dc:language>en-us</dc:language>
            <dc:creator>
                {{ xar_var({scope: "module", module: "mail", name: "adminname"}) }}
            </dc:creator>
            <admin:generatorAgent rdf:resource="http://www.xaraya.org"/>
            <admin:errorReportsTo rdf:resource="mailto:{{ xar_modvar('mail', 'adminmail') }}"/>
            <sy:updatePeriod>hourly</sy:updatePeriod>
            <sy:updateFrequency>1</sy:updateFrequency>
            <docs>http://backend.userland.com/rss</docs>
            {% block modulespace %}{{ _bl_mainModuleOutput|raw }}{% endblock %}
        </channel>
    </rss>
