{# @roles/properties/showinput-userlist.html.twig #}

{% block showinput_userlist %}
{% if onchange is not null %}
      {% set evt_change = onchange %}
    {% else %}
      {% set evt_change = 'return true;' %}
    {% endif %}

    {% if class is null %}
        {% set class = '' %}
    {% endif %}

    {% if style is null %}
        {% set style = '' %}
    {% endif %}

    {% if size is null %}
        {% set size = 1 %}
    {% endif %}

    {% if previousvalue %}
        <input type="hidden" name="previous_value_{{ name }}" value="{{ value }}"/>
    {% endif %}
    
    <select name="{{ name }}" id="{{ id }}" tabindex="{{ tabindex }}" onchange="{{ evt_change }}" size="{{ size }}" class="{{ class }}" style="{{ style }}">
        {% for option in options %}
            {% if not option['id'] or option['id'] != option['name'] %}
                {% if option['id'] == value %}
                    <option value="{{ option['id'] }}" selected="selected">{{ option['name'] }}</option>
                {% else %}
                    <option value="{{ option['id'] }}">{{ option['name'] }}</option>
                {% endif %}
            {% elseif option['id'] == value %}
                <option selected="selected">{{ option['name'] }}</option>
            {% else %}
                <option>{{ option['name'] }}</option>
            {% endif %}
        {% endfor %}
    </select>
    {{ include('@base/includes/dataproperty_additions.html.twig') }}
{% endblock %}