{# @roles/properties/showinput-password.html.twig #}

{% block showinput_password %}
{% if class %}
    {% elseif not size %}
        {% set class = 'xar-form-textlong' %}
    {% elseif size > 48 %}
        {% set class = 'xar-form-textxlong' %}
    {% elseif size < 12 %}
        {% set class = 'xar-form-textshort' %}
    {% elseif size < 30 %}
        {% set class = 'xar-form-textmedium' %}
    {% else %}
        {% set class = 'xar-form-textlong' %}
    {% endif %}
    {% if style is null %}
        {% set style = '' %}
    {% endif %}
    
    {# <!-- On focus event --> #}
    {% if onfocus is null %}
        {% set onfocus = 'return true;' %}
    {% endif %}
    
    {% if password_confirm %}
        {% if layout == '' or layout == 'default' or layout == 'horizontal' %}
            <input type="password" id="{{ id }}" name="{{ name }}[0]" value="" size="{{ size }}" maxlength="{{ maxlength }}" tabindex="{{ tabindex }}" style="{{ style }}" class="{{ class }}"/>
            &#160;
            <label for="{{ id }}_confirm">
                 Type again:
            </label>
            <input type="password" id="{{ id }}_confirm" name="{{ name }}[1]" value="" size="{{ size }}" maxlength="{{ maxlength }}" tabindex="{{ tabindex }}" style="{{ style }}" class="{{ class }}"/>
        {% else %}
            <div class="xar-form-container-after">
                <label for="{{ id }}">
                     Type in:
                </label>
                <input type="password" id="{{ id }}" name="{{ name }}[0]" value="" size="{{ size }}" maxlength="{{ maxlength }}" tabindex="{{ tabindex }}" style="{{ style }}" class="{{ class }}"/>
                <br />
                <label for="{{ id }}_confirm">
                     Type again:
                </label>
                <input type="password" id="{{ id }}_confirm" name="{{ name }}[1]" value="" size="{{ size }}" maxlength="{{ maxlength }}" tabindex="{{ tabindex }}" style="{{ style }}" class="{{ class }}"/>
            </div>
        {% endif %}
    {% else %}
        <input type="password" id="{{ id }}" name="{{ name }}" value="" size="{{ size }}" maxlength="{{ maxlength }}" tabindex="{{ tabindex }}" style="{{ style }}" class="{{ class }}"/>
    {% endif %}
    {{ include('@base/includes/dataproperty_additions.html.twig') }}
{% endblock %}