{# @blocks/includes/bytype.html.twig #}

{% block bytype %}
{% set icon_info = xar_imageurl('icons/info.png','theme') %}
    {% set icon_modify = xar_imageurl('icons/modify-config.png','theme') %}
    {% set icon_help = xar_imageurl('icons/help-browser.png','theme') %}
    {% set icon_preview = xar_imageurl('icons/display.png','theme') %}
    {% set icon_delete = xar_imageurl('icons/delete.png','theme') %}
    {% set icon_add = xar_imageurl('icons/add.png','theme') %}
    {% for type_id, type in list %}
        <table class="xar-table xar-fullwidth xar-items xar-margin-nonetop">
            <thead>
                <tr>
                    <th colspan="5">
                        {% if type['info_link']['url'] %}
                            <a href="{{ type['info_link']['url'] }}" title="{{ type['info_link']['title'] }}">{{ type['type'] }}</a>
                        {% else %}
                            {{ type['type'] }}
                        {% endif %}
                        {% if type['module'] %}
                            ({{ xar_coremethod('xarMod', 'getDisplayName', type['module']) }})
                        {% endif %}
                            Block Type Instances
                    </th>
                    <th class="xar-align-right">
                        {% if type['info_link']['url'] %}
                            <a href="{{ type['info_link']['url'] }}" class="xar-icon" title="{{ type['info_link']['title'] }}"><img src="{{ icon_info }}" class="xar-icon" alt="{{ type['info_link']['label'] }}"/></a>
                        {% else %}
                            <img src="{{ icon_info }}" class="xar-icon-disabled" alt="{{ type['info_link']['label'] }}" title="{{ type['info_link']['title'] }}"/>
                        {% endif %}&#160;
                        {% if type['modify_link']['url'] %}
                            <a href="{{ type['modify_link']['url'] }}" class="xar-icon" title="{{ type['modify_link']['title'] }}"><img src="{{ icon_modify }}" class="xar-icon" alt="{{ type['modify_link']['label'] }}"/></a>
                        {% else %}
                            <img src="{{ icon_modify }}" class="xar-icon-disabled" alt="{{ type['modify_link']['label'] }}" title="{{ type['modify_link']['title'] }}"/>
                        {% endif %}&#160;
                        {% if type['preview_link']['url'] %}
                            <a href="{{ type['preview_link']['url'] }}" class="xar-icon" title="{{ type['preview_link']['title'] }}"><img src="{{ icon_preview }}" class="xar-icon" alt="{{ type['preview_link']['label'] }}"/></a>
                        {% else %}
                            <img src="{{ icon_preview }}" class="xar-icon-disabled" alt="{{ type['preview_link']['label'] }}" title="{{ type['preview_link']['title'] }}"/>
                        {% endif %}&#160;
                        {% if type['help_link']['url'] %}
                            <a href="{{ type['help_link']['url'] }}" class="xar-icon" title="{{ type['help_link']['title'] }}"><img src="{{ icon_help }}" class="xar-icon" alt="{{ type['help_link']['label'] }}"/></a>
                        {% else %}
                            <img src="{{ icon_help }}" class="xar-icon-disabled" alt="{{ type['help_link']['label'] }}" title="{{ type['help_link']['title'] }}"/>
                        {% endif %}&#160;
                        {% if type['add_link']['url'] %}
                            <a href="{{ type['add_link']['url'] }}" class="xar-icon" title="{{ type['add_link']['title'] }}"><img src="{{ icon_add }}" class="xar-icon" alt="{{ type['add_link']['label'] }}"/></a>
                        {% else %}
                            <img src="{{ icon_add }}" class="xar-icon-disabled" alt="{{ type['add_link']['label'] }}" title="{{ type['add_link']['title'] }}"/>
                        {% endif %}                                    
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if type['instances'] %}
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Module</th>
                <th>Groups</th>
                <th>Status</th>
                <th class="xar-align-right">Actions</th>
            </tr>
                    {% for block_id, item in type['instances'] %}

                <tr>
                    <td>
                        {% if item['info_link']['url'] %}
                            <a href="{{ item['info_link']['url'] }}" title="{{ item['info_link']['title'] }}">{{ item['name'] }}</a>
                        {% else %}
                            {{ item['name'] }}
                        {% endif %}
                    </td>
                    <td>
                        {% if item['type_link']['url'] %}
                            <a href="{{ item['type_link']['url'] }}" title="{{ item['type_link']['title'] }}">{{ item['type'] }}</a>
                        {% else %}
                            {{ item['type'] }}
                        {% endif %}
                    </td>
                    <td>
                    {% if item['module'] %}
                        {{ item['module'] }}
                    {% else %}
                        [ none ]
                    {% endif %}
                    </td>
                    <td>
                        {% if item['groups'] %}
                            {% for loop_key1, loop_item1 in item['groups'] %}{% set loop_index1 = loop.index %}
                                <a href="{{ xar_moduleurl('blocks', 'admin', 'modify_instance', {'block_id': loop_item1.block_id}) }}">{{ loop_item1.name }}</a>
                                {% if loop_index1 < item['groups']|length %},&#160;{% endif %}
                            {% endfor %}
                        {% else %}
                            [ none ]
                        {% endif %}
                    </td>
                    <td>
                        {% if item['type_state'] != constant('xarBlock::TYPE_STATE_ACTIVE') %}
                            <a href="{{ xar_moduleurl('blocks', 'admin', 'modify_instance', {'interface': 'display', 'block_method': 'state', 'block_id': block_id}) }}">Type{{ type_states[item['type_state']]['name'] }}</a>
                        {% else %}{{ instance_states[item['state']]['name'] }}{% endif %}
                    </td>
                    <td class="xar-align-right">
                        {% if item['info_link']['url'] %}
                            <a href="{{ item['info_link']['url'] }}" class="xar-icon" title="{{ item['info_link']['title'] }}"><img src="{{ icon_info }}" class="xar-icon" alt="{{ item['info_link']['label'] }}"/></a>
                        {% else %}
                            <img src="{{ icon_info }}" class="xar-icon-disabled" alt="{{ item['info_link']['label'] }}" title="{{ item['info_link']['title'] }}"/>
                        {% endif %}&#160;
                        {% if item['modify_link']['url'] %}
                            <a href="{{ item['modify_link']['url'] }}" class="xar-icon" title="{{ item['modify_link']['title'] }}"><img src="{{ icon_modify }}" class="xar-icon" alt="{{ item['modify_link']['label'] }}"/></a>
                        {% else %}
                            <img src="{{ icon_modify }}" class="xar-icon-disabled" alt="{{ item['modify_link']['label'] }}" title="{{ item['modify_link']['title'] }}"/>
                        {% endif %}&#160;
                        {% if item['preview_link']['url'] %}
                            <a href="{{ item['preview_link']['url'] }}" class="xar-icon" title="{{ item['preview_link']['title'] }}"><img src="{{ icon_preview }}" class="xar-icon" alt="{{ item['preview_link']['label'] }}"/></a>
                        {% else %}
                            <img src="{{ icon_preview }}" class="xar-icon-disabled" alt="{{ item['preview_link']['label'] }}" title="{{ item['preview_link']['title'] }}"/>
                        {% endif %}&#160;
                        {% if item['help_link']['url'] %}
                            <a href="{{ item['help_link']['url'] }}" class="xar-icon" title="{{ item['help_link']['title'] }}"><img src="{{ icon_help }}" class="xar-icon" alt="{{ item['help_link']['label'] }}"/></a>
                        {% else %}
                            <img src="{{ icon_help }}" class="xar-icon-disabled" alt="{{ item['help_link']['label'] }}" title="{{ item['help_link']['title'] }}"/>
                        {% endif %}&#160;
                        {% if item['delete_link']['url'] %}
                            <a href="{{ item['delete_link']['url'] }}" class="xar-icon" title="{{ item['delete_link']['title'] }}"><img src="{{ icon_delete }}" class="xar-icon" alt="{{ item['delete_link']['label'] }}"/></a>
                        {% else %}
                            <img src="{{ icon_delete }}" class="xar-icon-disabled" alt="{{ item['delete_link']['label'] }}" title="{{ item['delete_link']['title'] }}"/>
                        {% endif %}
                    </td>
                </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="6">No type instances</td></tr>
                {% endif %}
            </tbody>
        </table>
    {% endfor %}    
{% endblock %}