{# @ckeditor/includes/headerconfig.html.twig #}

{% block headerconfig %}
{{ xar_style({scope: "module", module: "base", file: "navtabs"}) }}
<br />
<dl class="xar-tabs">
    <dt class="help">
        {{ xar_translate('Applies to:') }}
    </dt>
    {% if tab == 'ckeditor_general' %}
        {% set class = "active" %}
    {% else %}
        {% set class = "" %}
    {% endif %}
    <dd class="{{ class }}">
        <a href="{{ xar_moduleurl('ckeditor', 'admin', 'modifyconfig', {'tabmodule': 'ckeditor', 'tab': 'ckeditor_general'}) }}">
        {{ xar_translate('General') }}</a>
    </dd>
    {% set tabs = hooks['tabs'] %}
    {% for thistab in tabs %}
        {% set configtab = thistab['module'] ~ "_" ~ thistab['configarea'] %}
        {% if tab == configtab %}
            {% set class = "active" %}
        {% else %}
            {% set class = "" %}
        {% endif %}
        <dd class="{{ class }}">
            <a href="{{ xar_moduleurl('ckeditor', 'admin', 'modifyconfig', {'tabmodule': thistab['module'],'tab': configtab}) }}">
                {{ thistab['configtitle'] }}
            </a>
        </dd>
    {% endfor %}
</dl>
{% endblock %}