{# @installer/includes/status.html.twig #}

{% block status %}
{% set commonDir = xar_themedir('common') %}
    <style>
        .complete {
            background-image: url({{ commonDir }}/images/icons/activate.png);
            color: #568A00;
        }

        .active {
            background-image. url({{ commonDir }}//images/icons/initialize.png);
        }

        .greyed {
            background-image. url({{ commonDir }}//images/icons/none.png);
            color: #999999;
        }
    </style>
    {% set steptext = [
        '',
        'Selecting Language',
        'Agreeing to License',
        'Capabilities Inventory',
        'Collecting Database Settings',
        'Beginning Initialization',
        'Creating an Administrator',
        'Security Considerations'
    ] %}
    {# <!--
    {% set steptext[7] = 'Choosing a Configuration',
    {% set steptext[8] = 'Choosing Privileges',
    --> #}
    <div id="status">
        <div id="status_body">
            <div class="xar-align-center">
                {% set label = 'Installer icon' %}
                <img src="{{ xar_coremethod('sys', 'code') }}modules/installer/xarimages/installer.png" alt="{{ label }}"/>
            </div>
            <ul>
                {% for phase in range(1, active_step - 1) %}
                    <li class="complete">
                        {{ steptext[phase] }} 
                    </li>
                {% endfor %}
                <li class="active">
                    {{ steptext[active_step] }} 
                </li>
                {% for phase in range(active_step + 1, steptext|length) %}
                    <li class="greyed">
                        {{ steptext[phase] }} 
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="status_foot"></div>
    </div>
{% endblock %}