{# @themes/admin/delete_config.html.twig #}

{% block delete_config %}
{{ include('@themes/includes/admin-mod-head.html.twig') }}
    <div class="xar-mod-body">
        <h2>
            {{ xar_translate('Delete Item #(1) in #(2)', object.itemid, object.label) }}
        </h2>
        <h3 class="xar-align-center">
            Confirm Deleting This Configuration?
        </h3>

        {{ xar_data_display({object: object}) }}

        <form method="post" action="{{ xar_moduleurl('themes','admin','delete_config') }}">
            <div class="xar-form-actions">
              <div class="xar-row">
                  <div class="xar-col">
                  </div>
                  <div class="xar-col">
                    <input type="hidden" name="authid" id="authid" value="{{ xar_security_authkey() }}"/>
                    <input type="hidden" name="itemid" id="itemid" value="{{ object.itemid }}"/>
                    <input type="hidden" name="confirm" id="confirm" value="1"/>
                    {% set label = 'Cancel' %}
                    {{- xar_button({type: "cancel", label: label}) -}}
                    {% set label = 'Delete' %}
                    {{- xar_button({type: "submit", label: label, id: "confirm"}) -}}
                </div>
              </div>
          </div>
        </form>
    </div>
{% endblock %}