{# @dynamicdata/admin/delete_static_table.html.twig #}

{% block delete_static_table %}
{{ include('@dynamicdata/includes/admin-mod-head.html.twig') }}
    <div class="xar-mod-body">
        <h2>Delete Item {{ table }}</h2>

        <fieldset>
            <legend>
                Delete this item?
            </legend>
            The table '{{ table }}'
            <br />
            Any data the table contains will be deleted.
        </fieldset>

        <form method="post" action="{{ xar_currenturl() }}">
            <div class="xar-form-actions">
                <div class="xar-row">
                    <div class="xar-col"></div>
                    <div class="xar-col">
                        <input type="hidden" name="table" id="table" value="{{ table }}"/>
                        <input type="hidden" name="confirm" id="confirm" value="true"/>
                        {% set label = 'Cancel' %}
                        {{- xar_button({type: "cancel", label: label, name: "noconfirm", id: "noconfirm"}) -}}&#160;
                        {% set label = 'Delete' %}
                        {{- xar_button({type: "submit", label: label}) -}}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}