{# @dynamicdata/admin/new.html.twig #}

{% block new %}
{{ include('@dynamicdata/includes/admin-mod-head.html.twig') }}
    <div class="xar-mod-body">
        {% if object.objectid %}
            {% set viewlink = xar_moduleurl('dynamicdata','admin','view',{'itemid': object.objectid}) %}
        {% else %}
            {% set viewlink = xar_moduleurl('dynamicdata','admin','view',{'table': object.table}) %}
        {% endif %}
        <h2>
            {% if object.objectid and object.objectid == 1 %}
                Create New DataObject&#160;
                <a href="{{ viewlink }}" title="Back to DataObjects">
                    {{- xar_image({scope: "theme", file: "icons/item-list.png", class: "xar-icon", alt: "home"}) -}}
                </a>
            {% else %}
                Create New Item in {{ object.label }}&#160;
                <a href="{{ viewlink }}" title="View {{ object.label }}">
                    {{- xar_image({scope: "theme", file: "icons/item-list.png", class: "xar-icon", alt: "view"}) -}}
                </a>
            {% endif %}
        </h2>
        {% if preview %}
            <h3>Preview</h3>
            {{ xar_data_display({object: object}) }}
        {% endif %}
        {% set isupload = object.upload %}
        {% if isupload %}
            {% set enc_type = 'multipart/form-data' %}
        {% else %}
            {% set enc_type = 'application/x-www-form-urlencoded' %}
        {% endif %}
        {% if object.visibility != 'public' %}
            <h3 class="xar-align-center">Warning! This is a <em>{{ object.visibility }}</em> object used
            internally by the {{ xar_modname(object.moduleid) }} module.<br/>
            Trying to create this item here may break the module. Please proceed with caution.</h3>
        {% endif %}
        {# <!-- TODO: distinguish between 'protected' and 'private' ? --> #}
        <form method="post" action="{{ xar_moduleurl('dynamicdata','admin','create') }}" enctype="{{ enc_type }}">
            <fieldset>
                <legend>Item details</legend>
                {{ xar_data_form({object: object}) }}
            {# <!-- Remove hooks from DD for now - why ??? --> #}
                {% if hooks %}
                    {% for module, output in hooks %}{{ output|raw }}{% endfor %}
                {% endif %}
            {# <!-- --> #}
            </fieldset>
            <div class="xar-form-actions">
                <div class="xar-row">
                    <div class="xar-col"></div>
                    <div class="xar-col">
                        <input type="hidden" name="authid" id="authid" value="{{ authid }}"/>
                        <input type="hidden" name="objectid" id="objectid" value="{{ object.objectid }}"/>
                        {% if object.join %}
                            <input type="hidden" name="join" id="join" value="{{ object.join }}"/>
                        {% endif %}
                        {% if object.table %}
                            <input type="hidden" name="table" id="table" value="{{ object.table }}"/>
                        {% endif %}
                        <input type="hidden" name="itemid" id="itemid" value="{{ object.itemid }}"/>
                        <input type="hidden" name="tplmodule" id="tplmodule" value="{{ tplmodule }}"/>
                        <input type="hidden" name="notfresh" id="notfresh" value="true"/>
                        {% if return_url %}
                            <input type="hidden" name="return_url" id="return_url" value="{{ return_url }}"/>
                        {% endif %}
                        {% set label = 'Preview' %}
                        {{- xar_button({type: "submit", label: label, name: "preview"}) -}}
                        &#160;
                        {% set label = 'Create' %}
                        {{- xar_button({type: "submit", label: label}) -}}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}