{# @dynamicdata/admin/new_static.html.twig #}

{% block new_static %}
{{ include('@dynamicdata/includes/admin-mod-head.html.twig') }}
    <div class="xar-mod-body">
        <h2>Create new field in table {{ table }}</h2>

        <form method="post" action="{{ xar_currenturl() }}">
          <fieldset>
            <legend>Item details</legend>
            {{ xar_data_form({object: object}) }}
          </fieldset>
          <div class="xar-form-actions">
            <div class="xar-row">
                <div class="xar-col"></div>
                <div class="xar-col">
                  <input type="hidden" name="authid" id="authid" value="{{ authid }}"/>
                  <input type="hidden" name="table" id="table" value="{{ table }}"/>
                  <input type="hidden" name="confirm" id="confirm" value="true"/>
                  {% set label = 'Create' %}
                  {{- xar_button({type: "submit", label: label}) -}}
                </div>
            </div>
          </div>
        </form>
    </div>
{% endblock %}