{# @publications/objects/weblinks/summary.html.twig #}

{% block summary %}
{# <!-- Load the stylesheet for this publication type --> #}
    {{ xar_style({method: "import", module: "publications", file: "weblinks", title: "Weblinks Stylesheet"}) }}
    
    <div class="xar-norm xar-standard-box-padding">
        {% if categories and categories|length > 0 %}[
            {% for cat in categories %}{{ cat['cjoin'] }}
                <a href="{{ cat['clink'] }}">{{ cat['cname'] }}</a>
            {% endfor %}]
        {% endif %}
        
        {{ include('@publications/includes/editicons.html.twig') }}
        
        <a class="xar-title" href="{{ xar_moduleurl('publications','user','display',{'itemid': properties['id'].value, 'ptid': properties['itemtype'].value}) }}">
            {{ xar_data_output({property: properties['title']}) }}
        </a>
        <br />
        
        {# <!-- Description --> #}
        {% if properties['summary'] and fields['summary'] %}            
            Description: {{ xar_data_output({property: properties['summary']}) }}
            <br />
        {% endif %}
        
        {# <!-- Source --> #}
        {% if properties['notes'] and fields['notes'] %}            
            Source: {{ xar_data_output({property: properties['notes']}) }}
            <br />
        {% endif %}
        
        {# <!-- Date added --> #}
        {% if properties['created'] and fields['created'] %}            
            Added on: {{ xar_localedate(properties['created'].value, 'long', '') }} 
            {{ xar_localedate(properties['created'].value, '', 'long') }}
        {% endif %}
        
        {% if rating %}
            -            
                Rating            
            : {{ rating }}
        {% endif %}
        {% if counter %}
            {% if counter == 1 %}
                ({{ counter }}&#160;                
                    read                
                )
                {% else %}
                ({{ counter }}&#160;                
                    reads                
                )
            {% endif %}
        {% endif %}
        {% if xar_coremethod('xarModHooks', 'isHooked', 'ratings','publications',6) %}
            | <a href="{{ link }}">                
                    Rate / Comment
            </a>
        {% endif %}
        <div class="xar-publications-keywords">
            {% if keywords %}                
                    Keywords                                :
                {% for loop_key1, loop_item1 in keywords %}{% set loop_index1 = loop.index %}
                    <a href="{{ xar_moduleurl('keywords', 'user', 'main', {'keyword': loop_item1['keyword']}) }}" title="{{ loop_item1['keyword'] }}">{{ loop_item1['keyword'] }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}