{# @publications/modify.html.twig #}

{% extends '@publications/base.html.twig' %}

{% block modulespace %}
{{ xar_javascript({module: "publications", filename: "tabs.js"}) }}
    <div class="xar-mod-head">
        <span class="xar-mod-title">
            Manage Publications            
        </span>
    </div>
    <div class="xar-mod-body">
        <h2>
            Modify Document {{ xar_data_output({property: properties['title']}) }}
        </h2>
        <div style="float:right">
            {% set type = xar_request().getInfo() %}
            <a href="{{ xar_moduleurl('publications', type[1], 'view', {'ptid': ptid}) }}">
                Publications List
            </a>
        </div>
        <div style="clear:both">&#160;</div>
        {% if object.upload %}
            {% set enctype = 'multipart/form-data' %}
        {% else %}
            {% set enctype = 'application/x-www-form-urlencoded' %}
        {% endif %}
        <form method="post" name="post" id="post" action="{{ xar_moduleurl('publications','user','update') }}" enctype="{{ enctype }}" >
            {% set layout = 'publications-user' %}
            {% set itemcount = items|length %}
            {% set tabs = 3*itemcount %}
            {{ include('@publications/includes/pagetabs.html.twig') }}
            
            {% set index = 0 %}
            {% for key, item in items %}
                
                {# <!-- Pass the object its values --> #}
                {% set dummy = object.setFieldValues(item,1) %}

                {# <!-- Set the field prefix --> #}
                {% set dummy = object.setFieldPrefix(key) %}
                
                {# <!-- Add the itemid as a reference for e.g. position, categories --> #}
                {{ xar_set(object.itemid, key) }}

                {% if tab == 'preview' and index == 0 %}
                    {% set visible = ['none','none','block'] %}
                {% elseif tab != 'preview' and index == 0 %}
                    {% set visible = ['block','none','none'] %}
                {% else %}
                    {% set visible = ['none','none','none'] %}
                {% endif %}

                {% set index = index + 1 %}
                <div id="page-{{ index }}" style="display: {{ visible[0] }}">
                    {{ xar_data_form({object: object, tplmodule: "publications", fieldprefix: key}) }}
                </div>

                {% set index = index + 1 %}
                <div id="page-{{ index }}" style="display: {{ visible[1] }}">
                    {{ include('@publications/includes/publication-settings-user.html.twig') }}
                </div>

                {% set index = index + 1 %}
                <div id="page-{{ index }}" style="display: {{ visible[2] }}">
                    <fieldset class="xar-standard-box-padding xar-overflow-auto">
                        {{ xar_data_display({object: object, tplmodule: "publications", fieldprefix: key}) }}
                    </fieldset>
                </div>
            {% endfor %}

            {{ include('@publications/includes/navtabs-user.html.twig') }}
            
            <div class="xar-form-input-wrapper">
                <div class="xar-form-container-after">
                    <input type="hidden" name="authid" id="authid" value="{{ xar_security_authkey() }}" />
                    <input type="hidden" name="itemid" id="itemid" value="{{ itemid }}" />
                    <input type="hidden" name="ptid" id="ptid" value="{{ ptid }}" />
                    <input type="hidden" name="returnurl" id="returnurl" value="{{ returnurl }}" />
                    {% set itemkeys = items|keys|join(',') %}
                    <input type="hidden" name="items" id="items" value="{{ itemkeys }}" />
                    {% set label = 'Preview' %}
                    {{- xar_button({type: "submit", name: "preview", label: label}) -}}
                    &#160;
                    {% set label = 'Update Document' %}
                    {{- xar_button({type: "submit", name: "save", label: label}) -}}
                    &#160;
                    {% set label = 'Update and Quit' %}
                    {{- xar_button({type: "submit", name: "quit", label: label}) -}}
                    &#160;
                    {% set label = 'Update and Show' %}
                    {{- xar_button({type: "submit", name: "front", label: label}) -}}
                    {# <!--
                        show a link to delete the article
                    --> #}
                    {# <!--
                        {% if xar_security_check('ManagePublications') %}
                            <a href="{{ xar_moduleurl('publications','admin','delete',{'id': object.itemid}) }}">
                                <img src="{{ xar_imageurl('icons/delete.png','base') }}"/>
                            </a>
                        {% endif %}
                    --> #}
                </div>
            </div>
        </form>
        <script type="text/javascript">
            showtab(1,{{ tabs }})
        </script>
    </div>
{% endblock %}