<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{{ xar_twig_header("text/html") -}}
<html xml:lang="en" lang="en">
    <head>
        <title>{{ tpl.pageTitle }}</title>
        <base href="{{ xar_baseurl() }}"/>
        {{ xar_style({scope: "common"}) }}
        {{ xar_style({scope: "theme", method: "import", file: "style"}) }}
        {{ xar_place_css() }}
    </head>
    <body>
        <div id="main">
            {% block modulespace %}{{ _bl_mainModuleOutput|raw }}{% endblock %}
        </div>
    </body>
</html>
