{# @dynamicdata/includes/main_objects.html.twig #}

{% block main_objects %}
{# <!--
        Template variables from user-main.xt passed to xarobject/main.php
        $startlist = list of main objects to show
        $update = flag to indicate we want to update

        Template variables added by ui_view handler
        $object = current object list
        $context = current context
        $tpltitle = generic template title
    --> #}

    {# <!-- define the list of main objects --> #}
    {% if (not startlist or update) and xar_security_check('AdminDynamicData', 0) %}
        <form method="post">
            <p>Please specify which objects should be shown to your (not signed on) users here</p>
            <ul>
                {% for item in object.items %}
                    {% if not startlist %}
                        {# <!-- take a guess at which objects could be candidates --> #}
                        {% if item['module_id'] == 182 and item['itemtype'] < 3 %}
                            {# <!-- skip dd objects --> #}
                        {% elseif item['module_id'] == 182 and item['itemtype'] > 2 and item['maxid'] > 0 %}
                            <li><input type="checkbox" name="starter[{{ item['name'] }}]" id="starter_{{ item['name'] }}" checked="checked"/>&#160;<a href="{{ xar_objecturl(item['name']) }}">{{ item['label'] }}</a></li>
                        {% else %}
                            <li><input type="checkbox" name="starter[{{ item['name'] }}]" id="starter_{{ item['name'] }}"/>&#160;<a href="{{ xar_objecturl(item['name']) }}">{{ item['label'] }}</a></li>
                        {% endif %}
                    {% elseif item['name'] in startlist %}
                        <li><input type="checkbox" name="starter[{{ item['name'] }}]" id="starter_{{ item['name'] }}" checked="checked"/>&#160;<a href="{{ xar_objecturl(item['name']) }}">{{ item['label'] }}</a></li>
                    {% else %}
                        <li><input type="checkbox" name="starter[{{ item['name'] }}]" id="starter_{{ item['name'] }}"/>&#160;<a href="{{ xar_objecturl(item['name']) }}">{{ item['label'] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <input type="hidden" name="update" value="1"/>
            <input type="hidden" name="authid" value="{{ xar_coremethod('xarSec', 'genAuthKey') }}"/>
            {% set label = 'Update List' %}
            {{- xar_button({type: "submit", label: label}) -}}
        </form>

    {# <!-- show the list of main objects --> #}
    {% elseif startlist %}
        <ul>
        {% for item in object.items %}
            {% if item['name'] in startlist %}
                <li><a href="{{ xar_objecturl(item['name']) }}">{{ item['label'] }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
        {% if xar_security_check('AdminDynamicData', 0) %}
            <a href="{{ xar_currenturl({'update': 1}) }}">Update this list</a>
        {% endif %}

    {# <!-- nothing to show --> #}
    {% else %}
        <p>No starter objects have been defined for the object interface</p>
    {% endif %}

{% endblock %}