{# @dynamicdata/includes/table_filter.html.twig #}

{% block table_filter %}
{% set proptypes = xar_coremethod('DataPropertyMaster', 'getPropertyTypes') %}
    {% set currenturl = xar_currenturl() %}
    {% set itemcount = object.itemcount ?: items|length %}
    {% set where = object.where ?: [] %}
    <tr>
        <form method="post" action="{{ currenturl }}">
            {% for name, property in properties %}
                {% set proptype = proptypes[property.type] %}
                {% set curvalue = where[name] ? where[name] : '' %}
                <th class="xar-form-textlong">
                    {% if proptype['name'] == 'itemid' %}
                        - 
                    {% elseif proptype['name'] == 'calendar' %}
                        &#160; 
                    {% elseif proptype['name'] in ['dropdown', 'object', 'objectref'] %}
                        {% do xar_set(property, 'initialization_firstline', {'id': '', 'name': ''}) %}
                        {% set ddname = 'dd_' ~ property.id %}
                        {{  xar_data_input({property: property, name: "where[" ~ name ~ "]", value: curvalue}) }}
                    {% elseif proptype['name'] in ['textbox', 'integerbox', 'username'] %}
                        {% set values = [] %}
                        {% set dotrim = false %}
                        {% for itemid, fields in items %}
                            {% set key = fields[name] %}
                            {% if key is numeric %}
                                {% set dotrim = true %}
                                {% set values = values|merge({("'" ~ key ~ "'"): 1}) %}
                            {% else %}
                                {% set values = values|merge({(key): 1}) %}
                            {% endif %}
                        {% endfor %}
                        {% set values = xar_ksort(values) %}
                        {% set options = [] %}
                        {% set options = options|merge([{'id': '', 'name': ''}]) %}
                        {% for option, dummy in values %}
                            {% if dotrim %}
                                {% set option = option|trim("'") %}
                            {% endif %}
                            {% if proptype['name'] == 'username' %}
                                {% set option = xar_uservar('uname', option) %}
                            {% endif %}
                            {% set options = options|merge([{'id': option, 'name': option}]) %}
                        {% endfor %}
                        {% set ddname = 'dd_' ~ property.id %}
                        {% if itemcount < 10 or options|length < itemcount / 2 %}
                            {{ xar_data_input({type: "dropdown", name: "where[" ~ name ~ "]", options: options, value: curvalue}) }}
                        {% else %}
                            {# <!-- xar:data-input type="textbox" name="where[$name]" value="$curvalue"/ --> #}&#160;
                        {% endif %}
                    {% else %}
                        {{ xar_data_input({property: property, value: curvalue}) }}
                        {{ proptype['name'] }}
                    {% endif %}
                </th>
            {% endfor %}
            {% if not linkfield or true %}
                <th class="xar-form-textlong" style="text-align: center;">
                    {% set src = xar_imageurl("icons/system-search.png", "theme")  %}
                    {{- xar_button({type: "submit", name: "filter", src: src, submittotarget: currenturl, title: "Filter", style: "vertical-align: text-bottom;"}) -}}&#160;
                    <a href="{{ currenturl }}" title="Reset Filter">
                        {{- xar_image({scope: "theme", file: "icons/view-refresh.png", class: "xar-button", style: "vertical-align: text-bottom;", alt: "reset"}) -}}
                    </a>
                </th>
            {% endif %}
        </form>
    </tr>
{% endblock %}