{# @theme/rss/modules/dynamicdata/objects/ui_display.xml.twig #}

{% block ui_display %}
{# <!-- FIXME: this does not generate valid RSS feeds --> #}
    {% if object %}
        {% set viewlink = object.getActionURL('view') %}
        {% if object.checkAccess('update') %}
            {% set modifylink = object.getActionURL('modify', object.itemid) %}
        {% endif %}
        <category>{{ object.label }}</category>
        <textInput>
            <title>View Link</title>
            <description>View items</description>
            <name>view</name>
            <link>{{ viewlink }}</link>
        </textInput>
        {% if modifylink %}
            <modifylink>{{ modifylink }}</modifylink>
            <textInput>
                <title>Modify Link</title>
                <description>Modify this item</description>
                <name>modify</name>
                <link>{{ modifylink }}</link>
            </textInput>
        {% endif %}

        {% set getlinked = xar_coremethod('xarModItemVars', 'get', 'dynamicdata','getlinkedobjects',object.objectid) %}
        {% if getlinked %}

            {# <!-- Display object with linked objects --> #}
            {{ include('@dynamicdata/includes/display_linked.xml.twig') }}

        {% else %}

            {# <!-- Display object - you can specify the layout here or in the object configuration --> #}
            <item name="{{ object.name }}" itemid="{{ object.itemid }}">
                {{ xar_data_display({object: object}) }}
            </item>
            {# <!-- Display hook output --> #}
            {% if hooks %}
                <hookoutput>
                {% for module, output in hooks %}
                    <module name="{{ module }}">
                        {{ output }}
                    </module>
                {% endfor %}
                </hookoutput>
            {% endif %}

        {% endif %}
    {% endif %}
{% endblock %}