{# modules/dynamicdata/objects/ui_view.xml.twig #}

{% block ui_view %}
{# <!-- FIXME: this does not generate valid RSS feeds --> #}
    {% if object %}
        {% if object.name == 'objects' and object.linktype == 'object' %}
            <category>{{ object.label }}</category>
            {# <!-- show the list of main objects --> #}
            <items>
                {{ include('main_objects.xml.twig') }}
            </items>
        {% else %}
            <category>{{ object.label }}</category>
            {% set searchlink = object.getActionURL('search') %}
            <textInput>
                <title>Search Link</title>
                <description>Enter your search terms</description>
                <name>search</name>
                <link>{{ searchlink }}</link>
            </textInput>
            {% if object.primary and object.checkAccess('create') %}
                {% set newlink = object.getActionURL('new') %}
                <textInput>
                    <title>Create Link</title>
                    <description>Create a new item</description>
                    <name>create</name>
                    <link>{{ newlink }}</link>
                </textInput>
            {% endif %}
            {# <!-- don't show a newlink here --> #}
            {{ xar_data_view({object: object}) }}
        {% endif %}
    {% else %}
        <error>Please select one of the available objects</error>
        <configure>{{ xar_moduleurl('dynamicdata','object','main') }}</configure>
    {% endif %}
{% endblock %}