{# @xarcachemanager/includes/stats-details.html.twig #}

{% block stats_details %}
{#   License: GPL http://www.gnu.org/copyleft/gpl.html  #}
{#  Cache Statistics Details #}

  {% if not withlog %}
    {% if cacheinfo['ratio'] %}
      Cache Hit Ratio:&#160;<strong>{{ cacheinfo['ratio'] }}%</strong>&#160;of&#160;{{ cacheinfo['total'] }}
    {% else %}
      Cache Hit Ratio:&#160;N/A
    {% endif %}
    {% if loginfo['file'] %}
      &#160;Log Hit Ratio:&#160;<strong>{{ loginfo['ratio'] }}%</strong>&#160;of&#160;{{ loginfo['total'] }}
      &#160;<a href="{{ xar_moduleurl('xarcachemanager','admin','stats',{'tab': tab, 'withlog': 1}) }}">{{ xar_translate('Analyze Logfile') }}</a>
    {% else %}
      &#160;Log Hit Ratio:&#160;N/A
    {% endif %}

    <table class="xar-norm">
    <tr>
      <th><a href="{{ xar_moduleurl('xarcachemanager','admin','stats',{'tab': tab,'withlog': withlog,'sort': 'size'}) }}">{{ xar_translate('Size') }}</a></th>
      <th><a href="{{ xar_moduleurl('xarcachemanager','admin','stats',{'tab': tab,'withlog': withlog,'sort': 'key'}) }}">{{ xar_translate('Key') }}</a></th>
      <th><a href="{{ xar_moduleurl('xarcachemanager','admin','stats',{'tab': tab,'withlog': withlog,'sort': 'code'}) }}">{{ xar_translate('Code') }}</a></th>
      <th><a href="{{ xar_moduleurl('xarcachemanager','admin','stats',{'tab': tab,'withlog': withlog,'sort': 'time'}) }}">{{ xar_translate('Last Modified') }}</a></th>
    </tr>
    {% for id, item in items %}
    <tr>
      <td>
        {% if item.size > 0 %}
          <a href="{{ xar_moduleurl('xarcachemanager','admin','view',{'tab': tab, 'key': item['key'], 'code': item['code']}) }}">{{ item['size'] }}</a>
        {% else %}
          {{ item['size'] }}
        {% endif %}
      </td>
      <td>{{ item['key'] }}</td>
      <td>{{ item['code'] }}</td>
      <td>{% if item['time'] %}{{ xar_coremethod('xarLocale', 'formatDate', '%a, %d %B %Y %H.%M.%S %Z',item['time']) }}{% endif %}</td>
    </tr>
    {% endfor %}
    </table>

    {% if pager %}
      {{ pager }}
    {% endif %}

  {% else %}
    <form method="post" action="{{ xar_moduleurl('xarcachemanager', 'admin', 'stats') }}">
      {% if cacheinfo['ratio'] %}
        Cache Hit Ratio:&#160;<strong>{{ cacheinfo['ratio'] }}%</strong>&#160;of&#160;{{ cacheinfo['total'] }}
      {% else %}
        Cache Hit Ratio:&#160;N/A
      {% endif %}
      &#160;Log Hit Ratio:&#160;<strong>{{ totals['ratio'] }}%</strong>&#160;of&#160;{{ totals['total'] }}
      <input type="hidden" name="tab" id="tab" value="{{ tab }}" />
      <input type="hidden" name="authid" id="authid" value="{{ xar_coremethod('xarSec', 'genAuthKey') }}" />
      &#160;<input type="submit" name="reset" value="{{ xar_translate('Reset Logfile') }}" />
    </form>

    <table class="xar-norm">
    <tr>
      <th><a href="{{ xar_moduleurl('xarcachemanager','admin','stats',{'tab': tab,'withlog': withlog,'sort': 'size'}) }}">{{ xar_translate('Size') }}</a></th>
      <th colspan="4"><a href="{{ xar_moduleurl('xarcachemanager','admin','stats',{'tab': tab,'withlog': withlog,'sort': 'key'}) }}">{{ xar_translate('Key') }}</a></th>
      <th><a href="{{ xar_moduleurl('xarcachemanager','admin','stats',{'tab': tab,'withlog': withlog,'sort': 'code'}) }}">{{ xar_translate('Code') }}</a></th>
      <th><a href="{{ xar_moduleurl('xarcachemanager','admin','stats',{'tab': tab,'withlog': withlog,'sort': 'time'}) }}">{{ xar_translate('Last Modified') }}</a></th>
    </tr>
    <tr class="xar-alt">
      <th><a href="{{ xar_moduleurl('xarcachemanager','admin','stats',{'tab': tab,'withlog': withlog,'sort': 'ratio'}) }}">{{ xar_translate('Ratio') }}</a></th>
      <th><a href="{{ xar_moduleurl('xarcachemanager','admin','stats',{'tab': tab,'withlog': withlog,'sort': 'hit'}) }}">{{ xar_translate('Hit') }}</a></th>
      <th><a href="{{ xar_moduleurl('xarcachemanager','admin','stats',{'tab': tab,'withlog': withlog,'sort': 'miss'}) }}">{{ xar_translate('Miss') }}</a></th>
      <th><a href="{{ xar_moduleurl('xarcachemanager','admin','stats',{'tab': tab,'withlog': withlog,'sort': 'total'}) }}">{{ xar_translate('Total') }}</a></th>
      <th><a href="{{ xar_moduleurl('xarcachemanager','admin','stats',{'tab': tab,'withlog': withlog,'sort': 'pages'}) }}">{{ xar_translate('Pages') }}</a></th>
      <th><a href="{{ xar_moduleurl('xarcachemanager','admin','stats',{'tab': tab,'withlog': withlog,'sort': 'first'}) }}">{{ xar_translate('First Seen') }}</a></th>
      <th><a href="{{ xar_moduleurl('xarcachemanager','admin','stats',{'tab': tab,'withlog': withlog,'sort': 'last'}) }}">{{ xar_translate('Last Seen') }}</a></th>
    </tr>
    {% for id, item in items %}
    <tr>
      <td>
        {% if item.size > 0 %}
          <a href="{{ xar_moduleurl('xarcachemanager','admin','view',{'tab': tab, 'key': item['key'], 'code': item['code']}) }}">{{ item['size'] }}</a>
        {% else %}
          {{ item['size'] }}
        {% endif %}
      </td>
      <td colspan="4">{{ item['key'] }}</td>
      <td>{{ item['code'] }}</td>
      <td>{% if item['time'] %}{{ xar_coremethod('xarLocale', 'formatDate', '%a, %d %B %Y %H.%M.%S %Z',item['time']) }}{% endif %}</td>
    </tr>
    <tr class="xar-alt">
      <td>{{ item['ratio'] }}%</td>
      <td>{{ item['hit'] }}</td>
      <td>{{ item['miss'] }}</td>
      <td>{{ item['total'] }}</td>
      <td>{{ item['pages'] }}</td>
      <td>{% if item['first'] %}{{ xar_coremethod('xarLocale', 'formatDate', '%a, %d %B %Y %H.%M.%S %Z',item['first']) }}{% endif %}</td>
      <td>{% if item['last'] %}{{ xar_coremethod('xarLocale', 'formatDate', '%a, %d %B %Y %H.%M.%S %Z',item['last']) }}{% endif %}</td>
    </tr>
    {% endfor %}
    {% if totals %}
    <tr>
      <td colspan="7">Total</td>
    </tr>
    <tr class="xar-alt">
      <td>{{ totals['ratio'] }}%</td>
      <td>{{ totals['hit'] }}</td>
      <td>{{ totals['miss'] }}</td>
      <td>{{ totals['total'] }}</td>
      <td>{{ totals['pages'] }}</td>
      <td>{{ xar_coremethod('xarLocale', 'formatDate', '%a, %d %B %Y %H.%M.%S %Z',totals['first']) }}</td>
      <td>{{ xar_coremethod('xarLocale', 'formatDate', '%a, %d %B %Y %H.%M.%S %Z',totals['last']) }}</td>
    </tr>
    {% endif %}
    </table>

    {% if pager %}
      {{ pager }}
    {% endif %}

  {% endif %}

{% endblock %}