{# @mail/admin/modify.html.twig #}

{% block modify %}
{{ include('@mail/includes/mod-head.html.twig') }}

    <fieldset>
      <legend>Change queue definition</legend>

      {# <!-- Normal edit form --> #}
      <form style="display: inline;" method="post" action="{{ xar_moduleurl('dynamicdata','admin','update') }}">
        {{ xar_data_form({object: object, itemid: itemid, linkfield: "name"}) }}
        <input type="hidden" name="authid" value="{{ xar_security_authkey('dynamicdata') }}"/>
        <input type="hidden" name="itemid" value="{{ itemid }}"/>
        <input type="hidden" name="objectid" value="{{ object.objectid }}"/>
        <input type="hidden" name="modid" value="{{ object.moduleid }}"/>
        <input type="hidden" name="return_url" value="{{ xar_moduleurl('mail','admin','view') }}"/>
        <input type="hidden" name="itemtype" value="{{ object.itemtype }}"/>
        {% set label = 'Save' %}
        {{- xar_button({type: "submit", label: label}) -}}
      </form>

      {# <!-- When editting, offer delete option --> #}
      <form style="display: inline;" method="post" action="{{ xar_moduleurl('mail','admin','delete') }}">
        <input type="hidden" name="authid" value="{{ xar_security_authkey() }}"/>
        <input type="hidden" name="itemid" value="{{ itemid }}"/>
        <input type="hidden" name="objectid" value="{{ object.objectid }}"/>
        {% set label = 'Delete' %}
        {{- xar_button({type: "submit", label: label}) -}}
      </form>
    </fieldset>
{% endblock %}