{# @mail/admin/view.html.twig #}

{% block view %}
{{ include('@mail/includes/mod-head.html.twig') }}
    {# <!-- Sanity checks --> #}
    {% if itemid is null %}
        {% set itemid = 0 %}
    {% endif %}
    <div class="xar-mod-body">
        {% set active_tab = 'registration' %}
        {{ include('@mail/includes/queue-tabs.html.twig') }}
        {# <!-- Master view --> #}
        <fieldset>
            <legend>Registered mail queues</legend>
            {{ xar_data_view({modid: qdef['moduleid'], itemtype: qdef['itemtype'], layout: "list", linkfield: "name", sort: "id", tplmodule: "mail"}) }}
        </fieldset>
        <fieldset>
            {% if itemid > 0 %}
                <legend>Change queue definition</legend>
                {# <!--Normal edit form --> #}
                <form style="display: inline;" method="post" action="{{ xar_moduleurl('mail','admin','update') }}">
                    {{ xar_data_form({module: qdef['moduleid'], itemid: itemid, itemtype: qdef['itemtype'], linkfield: "name"}) }}
                    <input type="hidden" name="authid" value="{{ xar_security_authkey() }}"/>
                    <input type="hidden" name="itemid" value="{{ itemid }}"/>
                    <input type="hidden" name="objectid" value="{{ qdef.objectid }}"/>
                    <input type="hidden" name="modid" value="{{ qdef.moduleid }}"/>
                    <input type="hidden" name="return_url" value="{{ xar_moduleurl('mail','admin','view') }}"/>
                    <input type="hidden" name="itemtype" value="{{ qdef.itemtype }}"/>
                    {% set label = 'Save' %}
                    {{- xar_button({type: "submit", label: label}) -}}
                </form>
                {# <!-- When editting, offer delete option --> #}
                <form style="display: inline;" method="post" action="{{ xar_moduleurl('mail','admin','delete') }}">
                    <input type="hidden" name="authid" value="{{ xar_security_authkey() }}"/>
                    <input type="hidden" name="itemid" value="{{ itemid }}"/>
                    <input type="hidden" name="objectid" value="{{ qdef.objectid }}"/>
                    {% set label = 'Delete' %}
                    {{- xar_button({type: "submit", label: label}) -}}
                </form>
                {% else %}
                <legend>Create new queue definition</legend>
          {# <!-- Create form --> #}
                <form style="display: inline;" method="post" action="{{ xar_moduleurl('dynamicdata','admin','create') }}">
                    {{ xar_data_form({module: qdef['moduleid'], itemid: itemid, itemtype: qdef['itemtype'], linkfield: "name"}) }}
                    <input type="hidden" name="authid" value="{{ xar_security_authkey('dynamicdata') }}"/>
                    <input type="hidden" name="objectid" value="{{ qdef.objectid }}"/>
                    <input type="hidden" name="modid" value="{{ qdef.moduleid }}"/>
                    <input type="hidden" name="return_url" value="{{ xar_moduleurl('mail','admin','view') }}"/>
                    <input type="hidden" name="itemtype" value="{{ qdef.itemtype }}"/>
                    {% set label = 'Save' %}
                    {{- xar_button({type: "submit", label: label}) -}}
                </form>
            {% endif %}
        </fieldset>
        {% if itemid != 0 %}
            <a href="{{ xar_moduleurl('mail','admin','view') }}">Create new queue definition</a>
        {% endif %}
    </div>
{% endblock %}