{# @base/message/exception.html.twig #}

{% block exception %}
{# <!--
    ***********
    * WARNING
    * Modify this template at your own risk.
    * If the template contains errors, the exception system will not be able to process
    * it correctly, leading to unexpected results
    ***********
    --> #}
    <div class="xar-mod-head">
        <span class="xar-mod-title">System Message</span>
    </div>
    <div class="xar-mod-body">
        {% set label = 'Message Icon' %}
        {{- xar_image({scope: "theme", file: "info.png", alt: label, width: "96", height: "96", class: "xar-module-icon"}) -}}
        <h2>System Exception</h2>
        <h3>{{ title }}</h3>
        <p>{{ short }}</p>
        {% if long is not null and long != '' %}
            <h3>Explanation:</h3>
            <p>{{ long }}</p>
        {% endif %}
        {% if hint is not null and hint != '' %}
            <h3>Further Information:</h3>
            <p>{{ hint }}</p>
        {% endif %}
        {% if stack is not null and stack != '' %}
            <h3>Stack:</h3>
            <p style="text-align: left;">{{ stack }}</p>
        {% endif %}
    </div>
{% endblock %}