{# @roles/blocks/language.html.twig #}

{% block language %}
<form action="{{ form_action }}" method="post">
        <div>
            <input type="hidden" name="return_url" value="{{ return_url }}"/>
            <select name="{{ form_picker_name }}">
                {% for loop_key1, loop_item1 in locales %}{% set loop_index1 = loop.index %}
                    {% if loop_item1['selected'] %}
                        <option value="{{ loop_item1['locale'] }}" selected="selected">
                            {{ loop_item1['name'] }} ({{ loop_item1['country'] }})
                        </option>
                    {% else %}
                        <option value="{{ loop_item1['locale'] }}">
                            {{ loop_item1['name'] }} ({{ loop_item1['country'] }})
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
            {% set label = 'Set Language' %}
            {{- xar_button({type: "submit", label: label, name: "change_language"}) -}}
        </div>
    </form>
{% endblock %}