{# @roles/email.html.twig #}

{% extends '@roles/base.html.twig' %}

{% block modulespace %}
<div class="xar-mod-head">
        <span class="xar-mod-title">Email User</span>
    </div>
    <div class="xar-mod-body">
        <h2>
            <a href="{{ xar_moduleurl('roles','user','viewlist') }}">Member List</a>&#160;&gt;&#160; 
            <a href="{{ xar_moduleurl('roles','user','display',{'id': id}) }}">
            {{ xar_prep_display(name) }}</a>&#160;&gt;&#160; Send an Email to
            &#160;{{ xar_prep_display(name) }}
        </h2>
        <form method="post" action="{{ xar_moduleurl('roles','user','email',{'phase': 'confirm'}) }}" enctype="application/x-www-form-urlencoded">
            <div>
                {% if error_message %}
                    <div class="xar-error">{{ xar_prep_display(error_message) }}</div>
                {% endif %}
                <input type="hidden" name="authid" id="authid" value="{{ authid }}"/>
                <input type="hidden" name="id" id="id" value="{{ id }}"/>
                <div>
                    <div>
                        <label for="subject">Subject:</label>
                    </div>
                    <input type="text" name="subject" id="subject" size="40" maxlength="100" value="{{ xar_prep_display(subject) }}"/>
                </div>
                <div>
                    <div>
                        <label for="message">Message:</label>
                    </div>
                    <textarea name="message" id="message" rows="20" cols="60">{{ xar_prep_display(message) }}</textarea>
                </div>
                {% set label = 'Send' %}
                {{- xar_button({type: "submit", label: label, name: "submit"}) -}}
            </div>
        </form>
    </div>
{% endblock %}