{# modules/themes/admin-modifyconfig-XForms.xml.twig #}

{% block admin_modifyconfig_XForms %}
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="xforms2html.xsl" type="text/xsl"?>
<xar:template xmlns="http://www.w3.org/1999/xhtml" xmlns:xar="http://xaraya.com/2004/blocklayout"
xmlns:xf="http://www.w3.org/2002/xforms" xml:lang="en">
    {# <!-- In this template we try to translate the form into XForms. --> #}
    <div id="themesAdminModifyconfig">
        <div class="xar-mod-head">
            <span class="xar-mod-title">Themes Administration</span>
        </div>
        <div class="xar-mod-body">
            {{ include('admin-menu.html.twig') }}
            <h2>Modify Configuration</h2>
            <form action="{{ xar_moduleurl('themes', 'admin', 'updateconfig') }}"
            method="post" enctype="application/x-www-form-urlencoded">
                <xf:group ref="configoptions">
                    <xf:label>Configuration Options</xf:label>
                    {# <!-- textfield containing the default themes directory --> #}
                    <xf:input name="themedir" ref="modules/themes/themesdirectory"
                    class="filepath">
                        <xf:label>Default Theme Directory</xf:label>
                        {# <!-- Example of an entity which xml does not know about, so doctype above has to declare it --> #}
                        <xf:hint>The default directory for site themes – no trailing
                        slash</xf:hint>
                    </xf:input>
                    <xf:group ref="dashboard">
                        <xf:label>Admin Dashboard</xf:label>
                        <div class="checkInputContainer">
                            {{ xar_data_input({type: "checkbox", name: "dashboard", checked: dashboard}) }}
                            {{ xar_data_label({label: "Enable the Admin Dashboard", for: "dashboard", title: "Use the Admin Dashboard to manage all your Admin settings from a single page."}) }}
                        </div>
                        <div class="textInputContainer">
                            {{ xar_data_label({label: "Dashboard Template name", for: "dashtemplate", title: "Template name for the dashboard - no trailing suffix, defaults to \'dashboard\'"}) }}
                            <div class="infoAddedInput">
                                {% set valDashtamplate = xar_modulevar('themes', 'dashtemplate') %}
                                {{ xar_data_input({id: "dashtamplate", name: "dashtamplate", type: "textbox", value: valDashtamplate, size: "30", maxlength: "100"}) }}
                                <span class="inputIndication">(without the .xt extension)</span>
                                <p>The Admin Dashboard is automatically used with all admin
                                functions. The default page template name is 
                                <strong>dashboard.xt</strong>.</p>
                                <p>A page template called 
                                <strong>admin.xt</strong>will be used automatically without this
                                switch and can be customised on a module by module basis (eg
                                admin-articles.xt).</p>
                            </div>
                        </div>
                    </xf:group>
                    <div class="checkInputContainer">
                        {% set checked = adminpagemenu %}
                        {{ xar_data_input({type: "checkbox", name: "adminpagemenu", id: "adminpagemenu", checked: checked}) }}
                        {{ xar_data_label({label: "Enable InPage Admin SubMenus", for: "adminpagemenu", title: "Use submenus in the page for admin functions."}) }}
                    </div>
                    <div class="checkInputContainer">
                        {% set checked = xar_coremethod('xarModHooks', 'isHooked', 'themes', 'roles') %}
                        {{ xar_data_input({type: "checkbox", name: "usermenu", id: "usermenu", checked: checked}) }}
                        {{ xar_data_label({label: "Allow users to set their theme in User Account page", for: "usermenu", title: "Allow users to select themes from their Account Details page."}) }}
                    </div>
                </xf:group>
                <xf:group>
                    <xf:label>Site Display Options</xf:label>
                    {% set valAuthid = xar_modulevar('authsystem', 'authid') %}
                    {{ xar_data_input({id: "authid", name: "authid", type: "hidden", value: valAuthid}) }}
                    <div class="textInputContainer">
                        {% set valSitename = xar_modulevar('themes', 'SiteName') %}
                        {{ xar_data_label({label: "Site Name", for: "sitename"}) }}
                        {{ xar_data_input({type: "textbox", name: "sitename", id: "sitename", value: valSitename}) }}
                    </div>
                    <div class="textInputContainer">
                        <label for="slogan">Site Slogan</label>
                        <input type="text" name="slogan" id="slogan"
                        value="{{ xar_modulevar('themes', 'SiteSlogan') }}" size="30"
                        maxlength="100"/>
                    </div>
                    <div class="textInputContainer">
                        <label for="copyright">Copyright</label>
                        <input type="text" name="copyright" id="copyright"
                        value="{{ xar_modulevar('themes', 'SiteCopyRight') }}" size="30"
                        maxlength="100"/>
                    </div>
                    <div class="textareaContainer">
                        <label for="footer">Footer Note</label>
                        <textarea name="footer" id="footer" cols="60" rows="5">
                        {{ xar_modulevar('themes', 'SiteFooter') }}</textarea>
                    </div>
                    <div class="textInputContainer">
                        <label for="separator">Page Title Separator</label>
                        <input type="text" name="separator" id="separator"
                        value="{{ xar_modulevar('themes', 'SiteTitleSeparator') }}" size="10"
                        maxlength="15"/>
                    </div>
                    <div class="selectContainer">
                        {% set options = [
                            {'id': 'default', 'name': xar_translate('Site Name - Module Name - Page Name')},
                            {'id': 'sp', 'name': xar_translate('Site Name - Page Name')},
                            {'id': 'mps', 'name': xar_translate('Module Name - Page Name - Site Name')},
                            {'id': 'pms', 'name': xar_translate('Page Name - Module Name - Site Name')},
                            {'id': 'to', 'name': xar_translate('Page Name')},
                            {'id': 'theme', 'name': xar_translate('Theme Driven')}
                        ] %}
                        {% set value = xar_modulevar('themes', 'SiteTitleOrder') %}
                        <label for="pagetitle">Page Title Order</label>
                        {{ xar_data_input({type: "dropdown", name: "pagetitle", options: options, value: value}) }}
                    </div>
                </xf:group>
                <xf:group>
                    <xf:label>Template Debugging options</xf:label>
          {% if xar_configvar('Site.BL.CacheTemplates') %}
            <div class="checkInputContainer">
              {% set checked = xar_modulevar('themes', 'ShowPHPCommentBlockInTemplates') %}
              {{ xar_data_input({type: "checkbox", name: "showphpcbit", id: "showphpcbit", checked: checked}) }}
              <label for="showphpcbit">
                      Show php comment block header in compiled templates
                  </label>
            </div>
          {% endif %}
                    <div class="checkInputContainer">
                        {% set checked = xar_modulevar('themes', 'ShowTemplates') %}
                        {{ xar_data_input({type: "checkbox", name: "showtemplates", id: "showtemplates", checked: checked}) }}
                        <label for="showtemplates">Show template filenames in HTML comments</label>
                    </div>
                    <div class="checkInputContainer">
                        {% set checked = xar_configvar('Site.BL.CacheTemplates') %}
                        {{ xar_data_input({type: "checkbox", name: "cachetemplates", id: "cachetemplates", checked: checked}) }}
                        <label for="cachetemplates">Cache templates</label>
                    </div>
                    <div class="checkInputContainer">
                        {#  
                            {% set checked = xar_modulevar('themes', 'var_dump') %}
                         #}
                        {% set checked = xar_modulevar('themes', 'var_dump') %}
                        {{ xar_data_input({type: "checkbox", name: "var_dump", id: "var_dump", checked: checked}) }}
                        <label for="var_dump">Debug Templates by Showing Variables
                        Available</label>
                    </div>
                    {% if xar_coremethod('xarTheme', 'isAvailable', 'atom') %}
                        {# <!-- This should be moved if we ever fully support the atom spec --> #}
                        <div class="textInputContainer">
                            <label for="AtomTag">Atom Tag</label>
                            <input type="text" name="AtomTag" id="AtomTag"
                            value="{{ xar_modulevar('themes', 'AtomTag') }}" size="30"
                            maxlength="100"/>
                        </div>
                    {% endif %}
                </xf:group>
                <input type="submit" value="{{ submitbutton }}"/>
            </form>
        </div>
    </div>
{% endblock %}