{# @themes/objects/showform-themes_configurations.html.twig #}

{% block showform_themes_configurations %}
{# <!-- This is a generic form template for any DD object. You can use a specific template for one particular object in this directory as showform-[objectname].xd, and/or use templates in your own [module]/xartemplates/objects directory by specifying the tplmodule="..." argument in the xar:data-form BL tag or showForm() method call. --> #}
    {% if not layout %}
        {% set layout = 'default' %}
    {% endif %}
    {% if layout == 'default' %}
        {% if properties['id'] is not null %}
            <div class="xar-row">
                <div class="xar-col">
                    {% set label = 'ID' %}
                    <label for="theme_id" title="{{ label }}" size="3">ID</label>
                </div>
                <div class="xar-col">
                    {{ xar_data_input({property: properties['id'], class: "xar-form-textauto"}) }}
                </div>
            </div>
        {% endif %}
        {% if properties['theme_id'] is not null %}
            <div class="xar-row">
                <div class="xar-col">
                    {% set label = 'The number of items to show on each page.' %}
                    <label for="theme_id" title="{{ label }}" size="3">Theme:</label>
                </div>
                <div class="xar-col">
                    {{ xar_data_input({property: properties['theme_id'], class: "xar-form-textauto"}) }}
                </div>
            </div>
        {% endif %}
        {% if properties['name'] is not null %}
            <div class="xar-row">
                <div class="xar-col">
                    {% set label = 'Name' %}
                    <label for="theme_id" title="{{ label }}" size="3">Name</label>
                </div>
                <div class="xar-col">
                    {{ xar_data_input({property: properties['name'], class: "xar-form-textauto"}) }}
                </div>
            </div>
        {% endif %}
        {% if properties['label'] is not null %}
            <div class="xar-row">
                <div class="xar-col">
                    {% set label = 'Label' %}
                    <label for="theme_id" title="{{ label }}" size="3">Label</label>
                </div>
                <div class="xar-col">
                    {{ xar_data_input({property: properties['label'], class: "xar-form-textauto"}) }}
                </div>
            </div>
        {% endif %}
        {% if properties['description'] is not null %}
            <div class="xar-row">
                <div class="xar-col">
                    {% set label = 'Description' %}
                    <label for="theme_id" title="{{ label }}" size="3">Description</label>
                </div>
                <div class="xar-col">
                    {{ xar_data_input({property: properties['description'], class: "xar-form-textauto"}) }}
                </div>
            </div>
        {% endif %}
        {% if properties['property_id'] is not null %}
            <div class="xar-row">
                <div class="xar-col">
                    {% set label = 'Property' %}
                    <label for="theme_id" title="{{ label }}" size="3">Property</label>
                </div>
                <div class="xar-col">
                    {{ xar_data_input({property: properties['property_id'], class: "xar-form-textauto", onchange: "this.form.submit()"}) }}
                </div>
            </div>
        {% endif %}
        {% if properties['configuration'] is not null %}
            <div class="xar-row">
                <div class="xar-col">
                    {% set label = 'Configuration' %}
                    <label for="theme_id" title="{{ label }}" size="3">Configuration</label>
                </div>
                <div class="xar-col">
                    {{ xar_data_input({property: properties['configuration'], class: "xar-form-textauto"}) }}
                </div>
            </div>
        {% endif %}
    {% elseif layout == 'filter' %}
        {% for name, property in properties %}
            <div class="xar-form-input-wrapper">
                {{ xar_data_label({property: properties[name], for: "id"}) }}
                {{ xar_data_filter({property: properties[name], for: "id"}) }}
                {{ xar_data_input({property: properties[name]}) }}
            </div>
        {% endfor %}
    {% else %}
        {# <!-- You can also specify your own layout here or in a separate template, e.g. if you want to handle individual fields differently for a particular module / itemtype --> #}
        {{ include('@' ~ tplmodule ~ '/includes/form-' ~ layout ~ '.html.twig') }}
    {% endif %}
{% endblock %}