{# @theme/rss/modules/bkview/csetview.xml.twig #}

{% block user_csetview %}
{% for loop_key1, loop_item1 in csets %}{% set loop_index1 = loop.index %}
        <item>
            <title>ChangeSet {{ loop_item1['rev'] }}</title>
            <link>
            {{ xar_moduleurl('bkview','user','deltaview') }}&amp;rev={{ loop_item1['rev'] }}&amp;repoid={{ repoid }}</link>
            <description>{{ loop_item1['comments'] }}</description>
            <author>{{ loop_item1['author'] }}</author>
            <pubDate>{{ xar_coremethod('xarLocale', 'formatUTCDate', "%a, %d %b %Y %H.%M.%S GMT",loop_item1['utc']) }}</pubDate>
        </item>
    {% endfor %}
{% endblock %}